<h1>Mapping Unique Cafes around KL</h1>
<h3 class="subtitle">Love coffee? You've come to the right place.</h3>
<div id="links-to-parts-of-site">
    <a id="link-to-getcopy" href="getacopy.html">
        <img src="img/physical-map-image.png"/>
        <span class="small-btn-title">Get a</span>
        <span>Physical Map!</span>
    </a>
    <a id="link-to-map" href="map.html">
        <img src="img/online-map-image.png"/>
        <span class="small-btn-title">Check out the</span>
        <span>Online Map!</span>
    </a>
</div>
<p> <strong>CafeHop KL</strong>
    is a project mapping independent cafes around Kuala Lumpur, Malaysia. We have compiled a map of the best cafes in the Klang Valley for your cafe hopping adventures.
               The map is on this site in its digital form, and starting <strong>21st Sept 2013</strong>
    , we will have printed copies distributed among the
    <a href="map.html">28 cafes</a>
    that have supported this project. Check them out!
</p>

<h2>More to come soon.</h2>
<p>
    We have a blog and an enhanced list of cafes coming up. In the meantime, check out our maps!
</p>