.cafe 
    .ad-space 
        width: 150px
        height: 400px
        border: 1px solid $orange
        border-radius: $space/2
        float: right
    section
        padding-top: 50px

    h1 
        margin-top: 0
        a 
            color: $red

    .fa-external-link, .fa-spinner
        font-size: 1.2em
        color: $red 
        margin-left: $space