.cafe 
    section
        padding-top: $space * 4
        @media (max-width: #{$sm-width})
            padding-top: $space * 2

    h1 
        margin-top: 0
        a 
            color: $red
            &:hover, &:focus
                text-decoration: none

    .fa-external-link, .fa-spinner
        font-size: 1.2em
        color: $red 
        margin-left: $space

    .cafe-map 
        max-width: 100%