@import 'constants'
.map
    position: relative
    height: $map-height
.content > .map
    padding-bottom: 0px 

#map-canvas, .angular-google-map-container
    width: 100%
    height: $map-height
    background-color: $brown
    color: $brown
    font-family: $body-font
    .gm-style-iw 
        height: auto !important
        div
            height: auto !important
    h3
        text-shadow: none
        font-size: 1.4em
        font-family: $body-font
        color: $red
        padding: 0
        margin: 0
        display: block
    a 
        display: inline-block
        clear: both
        margin-right: $space/2

.legend 
    position: absolute
    z-index: 9
    top: $space*2
    right: $space*2
    background-color: rgba($dark-orange, 0.9)
    padding: $space/2
    max-width: 300px
    .legend-list, a
        padding: 0px
        margin: 0px
        color: $light-orange
        .legend-item
            width: auto
        .legend-text
            font-size: 14px
        .legend-img 
            max-height: 30px

div#zones 
    width: 100%
    background-color: $dark-orange

    //text-align: center
    ul#zones-list
        @include clear-spacing
        @include center-element
        max-width: $wrapper-width
        list-style: none 
        li
            @include box-sizing
            @include clear-spacing
            display: inline-block
            a
                padding: $space / 2 $space 
                display: block
                background-color: transparent
                text-decoration: none
                color: $beige
                text-shadow: none
                font-size: $small-font
                &:hover
                    color: $light-orange
                    background-color: $dark-orange
                &.selected
                    background-color: $beige
                    color: $dark-orange

.map
    > div 
        padding-left: 0
        padding-right: 0

    .ad-space
        position: absolute
        padding: $space
        height: 100px
        z-index: 2
        bottom: 0
        right: 0
        left: 0
        background-color: $light-beige

.map .cafes 
    display: flex
    flex-direction: column
    position: relative
    padding: $space
    padding-left: $space
    padding-right: $space
    overflow: hidden
    height: 100%
    $cafe-numbers-height: $space * 2
    .cafe-list-container
        height: 100%
    .cafe-numbers
        // height: $cafe-numbers-height
        font-weight: bold
    .cafe-list
        flex-grow: 10
        margin-top: $space
        padding-bottom: $space * 2
        height: 100%
        overflow-y: scroll
        &::-webkit-scrollbar
            display: none
        ul 
            margin-top: 0
            position: absolute
            padding-bottom: $space
            width: 100%
            li 
                > div
                    @include fade-in
                    display: block
                    padding: $space $space/2 
                    border-radius: $space/4
                    text-decoration: none
                    clear: both
                    &:after, &:before
                        clear: both
                        content: " "
                        display: block
                    &:hover, &.hover
                        background-color: $light-orange
                .cafe-name
                    text-overflow: ellipsis
                    overflow: hidden
                    white-space: nowrap
                    float: left
                .cafe-link
                    width: 10%
                    float: right
                    text-align: right



.cafe 
    &.closed
        a,.a 
            // color: rgba($red, 0.4)
    .cafe-container
        display: table-row 
        > div 
            display: table-cell
            vertical-align: middle
            &:first-child
                padding-right: $space
                padding-left: $space/2
                img, .img
                    $cafe-img-size: 100px
                    width: $cafe-img-size
                    height: $cafe-img-size
                    border-radius: $space
                    background-color: $dark-orange
                    color: $orange
                    text-align: center
                    i 
                        font-size: $cafe-img-size/2
                        line-height: $cafe-img-size/2
                        margin: $cafe-img-size/4

            &:nth-child(2)
                vertical-align: top
                width: 100%
