@import 'constants'
.map
    position: relative
    min-height: $map-height
    height: 100%
.content > .map-wrapper
    padding-bottom: 0px 
    overflow: hidden

#map-canvas, .angular-google-map-container
    width: 100%
    height: $map-height
    background-color: $brown
    color: $brown
    font-family: $body-font
    .gm-style-iw 
        height: auto !important
        div
            height: auto !important
    h3
        text-shadow: none
        font-size: 1.4em
        font-family: $body-font
        color: $red
        padding: 0
        margin: 0
        margin-bottom: $space/2
        display: block
        text-transform: none
        text-align: left
    a 
        display: inline-block
        clear: both
        margin-right: $space/2

.legend 
    position: absolute
    z-index: 9
    top: $space
    right: $space
    @media only screen and (max-width : 768px)
        right: $space 
        top: $space 

.map-wrapper
    @include display-flex
    @include flex-direction(row)
    .map 
        @include flex(1)
.map
    > div 
        padding-left: 0
        padding-right: 0

.map .cafes 
    @include display-flex
    @include flex-direction(column)
    position: relative
    padding: $space
    padding-left: $space
    padding-right: $space*2
    height: 100%
    $cafe-numbers-height: $space * 2
    .cafe-list-container
        @include display-flex
        @include flex-direction(column)
        @include flex(1)
    .cafe-numbers
        a.location 
            text-decoration: underline
        .fa-search
            padding-right: 0
        > .location-display
            display: table
            width: 100%
            > div
                display: table-cell
                &:first-child 
                    width: 100%

        > .location-input
            display: table
            width: 100%
            input 
                width: 100%
                display: table-cell
                font-size: 14px
                border: 1px solid $beige
                padding: $space/2
                margin-top: $space
            a
                display: table-cell
                color: $red
                text-align: right
    .cafe-list
        @include flex(1)
        margin-top: $space
        overflow-y: scroll
        min-height: 100px
        &::-webkit-scrollbar
            display: none
        ul 
            margin-top: 0
            width: 100%
            li 
                > div
                    @include fade-in
                    display: block
                    padding: $space $space/2 
                    text-decoration: none
                    clear: both
                    border-left: 3px solid transparent
                    &:after, &:before
                        clear: both
                        content: " "
                        display: block
                    &:hover, &.hover
                        background-color: rgba($light-orange, 0.3)
                .cafe-name
                    text-overflow: ellipsis
                    overflow: hidden
                    white-space: nowrap
                    float: left
                .cafe-link
                    width: 10%
                    float: right
                    text-align: right

.cafe 
    &.closed
        a,.a 
            // color: rgba($red, 0.4)
    .cafe-container
        display: table-row 
        > div 
            display: table-cell
            vertical-align: middle
            &:first-child
                padding-right: $space
                padding-left: $space/2
                img, .img
                    $cafe-img-size: 100px
                    width: $cafe-img-size
                    height: $cafe-img-size
                    // border-radius: $space
                    color: $light-orange
                    background-color: rgba($light-orange, 0.5)
                    background-size: cover
                    background-position: center
                    text-align: center
                    i 
                        font-size: $cafe-img-size/2
                        line-height: $cafe-img-size/2
                        margin: $cafe-img-size/4

            &:nth-child(2)
                vertical-align: top
                width: 100%

.user-marker-window
    h3, p 
        text-align: center 

.ad 
    > div 
        width: 250px
        height: 200px
        // border: 1px solid $orange
        padding: $space
        margin-bottom: $space
        background-color: rgba($light-orange, 0.5)
    color: $orange
    margin: $space
    margin-left: 0