@import 'constants'

$about-logo-size: 200px
span.name
    font-weight: bold

h2, h3
    clear: both

.team
    display: table
    border-spacing: $space
    li 
        display: table-row
        vertical-align: top
        .team-image, .team-text
            display: table-cell
            text-align: left
            vertical-align: top
        img
            width: 150px
            float: left
            @include rounded-corners(75px)
            margin-right: $space*2

        p
            @include clear-spacing
            margin-bottom: $space