@import 'constants'
.content
    padding-bottom: 0px //override default
.map
    position: relative

#map-canvas, .angular-google-map-container
    border-bottom: 1px solid $dark-orange
    width: 100%
    min-height: $map-height
    height: 100%
    background-color: $brown
    color: $brown
    font-family: $body-font
    .gm-style-iw 
        height: auto !important
        min-width: 200px
        div
            max-height: 500px 
            height: auto !important
    h3
        text-shadow: none
        font-size: 1.4em
        font-family: $body-font
        color: $red
        padding: 0
        margin: 0
        display: block
    a 
        display: inline-block
        clear: both
        margin-right: $space/2

.legend 
    position: absolute
    z-index: 9
    top: $space*2
    right: $space*2
    background-color: rgba($dark-red, 0.9)
    padding: $space
    max-width: 300px
    .legend-list 
        padding: 0px
        margin: 0px
        color: $light-orange
        .legend-item
            width: auto
        .legend-text
            font-size: 14px
            text-transform: uppercase
        .legend-img 
            max-height: 30px
@media only screen and (max-width : 768px)
    .legend 
        right: $space
        bottom: $space
        top: auto

div#zones 
    width: 100%
    background-color: $dark-orange

    //text-align: center
    ul#zones-list
        @include clear-spacing
        @include center-element
        max-width: $wrapper-width
        list-style: none 
        li
            @include box-sizing
            @include clear-spacing
            display: inline-block
            a
                padding: $space / 2 $space 
                display: block
                background-color: transparent
                text-decoration: none
                color: $beige
                text-shadow: none
                font-size: $small-font
                &:hover
                    color: $light-orange
                    background-color: $dark-orange
                &.selected
                    background-color: $beige
                    color: $dark-orange

@media only screen and (max-width : 768px)
    #map-canvas, .angular-google-map-container
        min-height: 450px