<div id="template-header" type="text/html">
    <header>
        <div id="header-wrapper">
            <div>
                <a href="http://cafehopkl.com">
                    <img id='logo' src="assets/images/chkl_logo.png" alt="CafeHop KL"/>
                </a>
                <h1>
                    <a href="http://cafehopkl.com" >CafeHop KL</a>
                </h1>
            </div>
            <div>
                <nav>
                    <a href="#" id="collapsed-nav-icon">
                        <img id="menu-icon" src="img/menu-icon.png"/>
                    </a>
                    <ul>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="map.html">Map</a>
                        </li>
                        <li>
                            <a href="getacopy.html">Get A Copy</a>
                        </li>
                        <li>
                            <a href="http://cafehopmy.com/blog">Blog</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                        <li class="soc-media-links">
                            <div class="addthis_horizontal_follow_toolbox"></div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>