<header>
    <div ng-class="{'container': true, 'container-full': fullContainer}">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="#" class="navbar-brand">
                <img class='logo' src="assets/images/chkl_logo_small.png" alt="CafeHop MY"/>
                <div class='logo-text'><img title="Cafehop MY" src="assets/images/cafehopmy-logo.png"></div>
            </a>
        </div>

        <nav class="navbar-collapse collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="http://cafehopmy.com/blog">Blog</a>
                </li>
                <li>
                    <a href="#faq">FAQ</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
                <li class="soc-media-links">
                    <a target="_blank" href="https://www.facebook.com/CafeHopKl"><i class="fa fa-facebook-square"></i></a>
                    <a target="_blank" href="https://twitter.com/CafeHopKl"><i class="fa fa-twitter-square"></i></a>
                    <a target="_blank" href="http://instagram.com/cafehopmy"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!-- Put here Angular loads it together-->
<script>
    // Close navbar on click item
    $(document).ready(function(){
        var navbarToggle = $('.navbar-toggle');

        $(".navbar-nav li a").on('click', function(){
            if(navbarToggle.is(":visible")){
                navbarToggle.trigger('click');
            }
        });
    });
</script>