<header>
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a href="#" class="navbar-brand">
            <img class='logo' src="assets/images/chkl_logo_small.png" alt="CafeHop KL"/>
            <div class="h1">CafeHop KL</div>
        </a>
    </div>

    <nav class="navbar-collapse collapse" role="navigation">
         <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#map">Map</a>
            </li>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="http://cafehopmy.com/blog">Blog</a>
            </li>
            <li>
                <a href="#faq">FAQ</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
            <li class="soc-media-links">
                <div class="addthis_horizontal_follow_toolbox"></div>
            </li>
        </ul>
    </nav>
    </div>
</header>

<!-- Put here Angular loads it together-->
<script>
    // Close navbar on click item
    $(document).ready(function(){
        var navbarToggle = $('.navbar-toggle');
        console.log('ho')

        $(".navbar-nav li a").on('click', function(){
            if(navbarToggle.is(":visible")){
                navbarToggle.trigger('click');
            }
        });
    });
</script>