<div ng-controller="CafeController" class="cafe">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-6">
                    <div class="clearfix">
                        <h1 class="pull-left">
                            <a ng-href="{{cafe.url}}" target="_blank"> 
                                {{cafe.name}}
                            </a>
                        </h1>
                        <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
                        <a ng-show="cafe.url" ng-href="{{cafe.url}}" target="_blank"> 
                            <i class="fa fa-external-link"></i>
                        </a>
                    </div>
                    <p>
                        <span>{{cafe.address1}}</span>
                        <br/>
                        <span ng-show="cafe.address2">{{cafe.address2}}
                            <br/>
                        </span>
                        <span>{{cafe.city}}</span>
                    </p>
                    <p>
                        <strong><a ng-show="cafe.directions" target="_blank" ng-href="{{cafe.directions}}">Directions</a></strong>
                    </p>
                </div>

                <div class="col-sm-4 col-md-6">
                   <iframe
                      class="cafe-map"
                      width="300"
                      height="300"
                      frameborder="0" style="border:0"
                      ng-src="{{cafe.src}}">
                    </iframe>
                </div>
            </div>
        </div>
    </section>
</div>