<div ng-show="cafes.length < 1 && !loadingCafes || cannotFindUser">
    Sorry, we couldn't find any cafes or your location. Try another location perhaps?
</div>
<ul class="list-unstyled">
    <li ng-mouseover="triggerMarkerMouseover(cafe.idKey)" ng-mouseleave="triggerMarkerMouseout(cafe.idKey)"  ng-class="{cafe: true, closed: cafe.venue.hours && !cafe.venue.hours.isOpen}" ng-repeat="cafe in cafes" id="{{cafe.idKey}}">
        <div ng-class="{'cafe-container': true, 'hover': cafe.idKey && (cafe.idKey == markerCallbacks.currMouseoverId)}">
            <div>
                <a target="_blank" ng-href="{{getCafeUrl(cafe)}}">
                    <img ng-show="CafeService.getPhotoUrl(cafe)" ng-style="CafeService.getPhotoStyle(cafe)">
                    <div ng-show="!CafeService.getPhotoUrl(cafe)" class="img"> <i class="fa fa-camera"></i>
                    </div>
                </a>
            </div>
            <div>
                <a target="_blank" ng-href="{{getCafeUrl(cafe)}}">
                    <div class="a cafe-name">{{cafe.name}}</div>
                </a>
                
                <br/>
                <small>{{cafe.address1}}</small>
                <br/>
                <small>{{cafe.distance / 1000 | number:1}} km</small>
            </div>
        </div>
    </li>
</ul>