    <div class="location-display">
        <div>
            <span ng-show="!loadingCafes" ng-bind="cafes.length"></span>
            <span ng-show="loadingCafes">Loading</span>
            cafes around
            <a class="location" ng-click="showUserLocationInput()" href="" ng-bind="user.location.name" ng-show="!userLocationInput.live">
            </a>
        </div>

        <div>
            <a  ng-show="!loadingCafes" ng-click="showUserLocationInput()" class="btn btn-primary margin-l" href=""> <i class="fa fa-search"></i>
            </a> <i ng-show="loadingCafes" class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
    <div class="location-input" ng-show="userLocationInput.live">
        <input id="search-location" ng-model="user.location.name" details="user.location.details" type="text" ng-autocomplete options="userLocationInput.options" />
        <a ng-click="clearUserLocationInput()" href="" >
            <i class="fa fa-times"></i>
        </a>
    </div>
