 

 <section class="container">
    
 <div class="row">
    <div class="col-md-4">
        <div class="heading-img">
            <img src="assets/images/blog-image.png"/>
        </div>                
    </div>

    <div class="col-md-8">
        <h1>Frequently Asked Questions</h1>
        <p>Here are some questions we get in our inbox from time.</p>
    </div>
</div>

<div>
    <ul ng-repeat="faq in faqs" class="list-unstyled">
        <dt>{{faq.question}}</dt>
        <dd>{{faq.answer}}</dd>
    </ul>
</div>
</section>