 

 <section class="container">
    
 <div class="row">
    <div class="col-md-4">
        <div class="heading-img">
            <img id="contact-logo" src="assets/images/contact-image.png"/>
        </div>                
    </div>

    <div class="col-md-8">
        <h1>Get In Touch!</h1>
        <p>
            Have any suggestions for the Cafehop KL Project? Let us know, we'd love to hear your ideas!</p>
        
        <p>
            <strong>Follow us on </strong><a href="https://www.facebook.com/CafeHopKl" target="_blank">Facebook </a> or <a href="https://twitter.com/CafeHopKl" target="_blank">Twitter </a>for more cafe and coffee-related news and happenings.
        </p>

        <p>
            <strong>For any enquiries on listings and other questions</strong>, email Joachim at <a href="mailto:cafehopkl@gmail.com">cafehopkl@gmail.com</a>.
        </p>
    </div>
</div>
</section>