@font-face {
  font-family: "Matchbook";
  src: url("./fonts/Matchbook.eot");
  src: url("./fonts/Matchbook.eot?#iefix") format("embedded-opentype"), url("./fonts/Matchbook.ttf");
  font-weight: normal; }

@font-face {
  font-family: "Champagne";
  src: url("./fonts/Champagne_&_Limousines.eot");
  src: url("./fonts/Champagne_&_Limousines.eot?#iefix") format("embedded-opentype"), url("./fonts/Champagne_&_Limousines.ttf");
  font-weight: normal; }

@font-face {
  font-family: "Champagne Bold";
  src: url("./fonts/Champagne_&_Limousines_Bold.eot");
  src: url("./fonts/Champagne_&_Limousines_Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Champagne_&_Limousines_Bold.ttf");
  font-weight: bold;
  font-style: normal; }

span.name {
  font-weight: bold; }

h2, h3 {
  clear: both; }

.team {
  display: table;
  border-spacing: 12px; }
  .team li {
    display: table-row;
    vertical-align: top; }
  .team .team-image, .team .team-text {
    display: table-cell;
    text-align: left;
    vertical-align: top; }
  .team img {
    width: 150px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    -khtml-border-radius: 75px;
    border-radius: 75px;
    margin-right: 24px; }
  .team p {
    margin: 0;
    padding: 0;
    margin-bottom: 12px; }

@media (max-width: 768px) {
  .team .team-image, .team .team-text {
    width: 100%;
    display: block; }
  .team .team-text .name {
    width: 100%;
    display: block;
    text-align: center; }
  .team .team-image {
    text-align: center;
    margin-bottom: 12px; }
    .team .team-image img {
      margin: 0; } }
