@font-face {
  font-family: "Matchbook";
  src: url('fonts/Matchbook.eot?1413816914');
  src: url('fonts/Matchbook.eot?&1413816914#iefix') format('embedded-opentype'), url('fonts/Matchbook.eot?1413816914') format('embedded-opentype'), url('fonts/Matchbook.ttf?1413816914') format('truetype');
  font-weight: normal; }
@font-face {
  font-family: "Champagne";
  src: url('fonts/Champagne_&_Limousines.eot?1413816914');
  src: url('fonts/Champagne_&_Limousines.eot?&1413816914#iefix') format('embedded-opentype'), url('fonts/Champagne_&_Limousines.eot?1413816914') format('embedded-opentype'), url('fonts/Champagne_&_Limousines.ttf?1413816914') format('truetype');
  font-weight: normal; }
@font-face {
  font-family: "Champagne Bold";
  src: url('fonts/Champagne_&_Limousines_Bold.eot?1413816914');
  src: url('fonts/Champagne_&_Limousines_Bold.eot?&1413816914#iefix') format('embedded-opentype'), url('fonts/Champagne_&_Limousines_Bold.eot?1413816914') format('embedded-opentype'), url('fonts/Champagne_&_Limousines_Bold.ttf?1413816914') format('truetype');
  font-weight: bold; }
/* line 5, sass/getacopy.sass */
ul#participating-cafes-list {
  margin: 0;
  padding: 0;
  margin: 0 auto; }
  /* line 8, sass/getacopy.sass */
  ul#participating-cafes-list li {
    display: inline-block;
    padding: 6px 12px; }
    /* line 11, sass/getacopy.sass */
    ul#participating-cafes-list li div.cafe {
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      -khtml-border-radius: 6px;
      border-radius: 6px;
      display: table;
      background-color: #f8b582;
      width: 100px;
      height: 100px;
      padding: 6px; }
      /* line 18, sass/getacopy.sass */
      ul#participating-cafes-list li div.cafe div.logo {
        display: table-cell;
        text-align: center;
        vertical-align: middle; }
        /* line 22, sass/getacopy.sass */
        ul#participating-cafes-list li div.cafe div.logo img {
          margin: 0 auto;
          width: 80px; }

/* line 27, sass/getacopy.sass */
img.pin-sample {
  vertical-align: bottom; }
