@font-face {
  font-family: "Matchbook";
  src: url('fonts/Matchbook.eot?1413988642');
  src: url('fonts/Matchbook.eot?&1413988642#iefix') format('embedded-opentype'), url('fonts/Matchbook.eot?1413988642') format('embedded-opentype'), url('fonts/Matchbook.ttf?1413988642') format('truetype');
  font-weight: normal; }
.margin-l {
  margin-left: 12px; }

.margin-r {
  margin-right: 12px; }

body {
  position: relative;
  background-color: #FFF5E6;
  color: #90120e;
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  font-size: 18px;
  display: -webkit-flex;
  display: flex;
  -webkit-font-smoothing: antialiased;
  -webkit-flex-direction: column;
  flex-direction: column; }
  body > .content {
    -webkit-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: auto; }

.container {
  max-width: 900px; }

.container-full {
  width: 100%;
  max-width: 100% !important; }

.content > div, .content > section {
  padding-bottom: 48px; }
  @media (max-width: 768px) {
    .content > div, .content > section {
      padding-bottom: 24px; } }
  .content > div > section:last-child, .content > section > section:last-child {
    padding-top: 0px; }
.content > .no-padding {
  padding-bottom: 0; }

section {
  padding: 24px 0; }
  @media (max-width: 996px) {
    section {
      padding: 12px 0; } }

header {
  width: 100%;
  height: 75px; }

header, .navbar-header {
  background-color: #ec6338; }

nav .navbar-nav > li {
  margin-left: 12px; }
  nav .navbar-nav > li a {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    text-shadow: #c53d13 1px 2px 0;
    color: #f9c36f;
    text-decoration: none;
    font-weight: bold;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    nav .navbar-nav > li a:hover, nav .navbar-nav > li a.selected, nav .navbar-nav > li a:focus {
      background-color: #c53d13; }
  @media (max-width: 768px) {
    nav .navbar-nav > li {
      margin-right: 12px; } }
  nav .navbar-nav > li > a {
    font-size: 18px;
    line-height: 18px; }
    nav .navbar-nav > li > a:hover, nav .navbar-nav > li > a:focus {
      color: #f9c36f;
      text-decoration: none;
      background-color: #c53d13 !important; }
    @media (max-width: 768px) {
      nav .navbar-nav > li > a {
        padding-left: 12px; } }
nav .navbar-nav .soc-media-links a, nav .navbar-nav .soc-media-links .a {
  display: inline-block;
  padding-right: 6px;
  padding-left: 0;
  margin-right: 6px;
  font-size: 20px;
  line-height: 20px; }
  nav .navbar-nav .soc-media-links a:hover, nav .navbar-nav .soc-media-links a:focus, nav .navbar-nav .soc-media-links .a:hover, nav .navbar-nav .soc-media-links .a:focus {
    background-color: transparent !important; }
@media only screen and (max-width: 768px) {
  nav .navbar-nav .soc-media-links {
    padding-left: 12px; } }
@media (max-width: 768px) {
  nav.navbar-collapse {
    padding: 0; } }

.navbar-toggle {
  margin: 18.5px 12px; }
  .navbar-toggle .icon-bar {
    background-color: #f9c36f;
    height: 3px;
    border-radius: 1px;
    width: 30px;
    box-shadow: 1px 1px 1px #c53d13; }

.nav {
  margin: 12.5px 0; }
  @media (max-width: 768px) {
    .nav {
      margin: 15px 0; } }

.navbar-brand {
  height: 75px;
  padding: 12px 0;
  color: #f9c36f; }
  @media (max-width: 768px) {
    .navbar-brand {
      margin-left: 12px; } }
  .navbar-brand:hover {
    color: #f9c36f; }
  .navbar-brand .logo {
    width: 51px;
    display: inline-block;
    vertical-align: top; }
  .navbar-brand .logo-text {
    display: inline-block;
    height: 51px;
    padding: 3px 8px; }
    .navbar-brand .logo-text img {
      height: 100%; }

div.clear-both {
  clear: both; }

h1, h2, h3, h4, .h1 {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: subpixel-antialiased; }

h1, h2, h3 {
  color: #90120e; }

a, .a {
  color: #90120e;
  font-weight: bold; }
  a:focus, a:hover, .a:focus, .a:hover {
    color: #90120e;
    text-decoration: underline; }

p {
  margin-top: 0;
  font-size: 1em; }
  p.desc {
    text-align: center; }

footer {
  width: 100%;
  background-color: #90120e;
  padding: 24px 0px;
  margin-top: 0px; }
  footer h3 {
    display: block;
    margin-top: 0px;
    margin-bottom: 12px; }
  footer div#footer-wrapper {
    margin: 0 auto; }
    footer div#footer-wrapper div#sponsors {
      float: right;
      width: 70%; }
    footer div#footer-wrapper div#social-media-share {
      float: left;
      width: 30%; }
      footer div#footer-wrapper div#social-media-share ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        footer div#footer-wrapper div#social-media-share ul a.share-button {
          margin-bottom: 6px;
          display: inline-block;
          background-color: #3B5998;
          padding: 6px;
          color: white;
          font-size: medium;
          text-shadow: none;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          -khtml-border-radius: 3px;
          border-radius: 3px; }
          footer div#footer-wrapper div#social-media-share ul a.share-button img {
            width: 18px;
            margin-right: 3px;
            display: inline-block; }
          footer div#footer-wrapper div#social-media-share ul a.share-button span {
            line-height: 18px; }
  footer ul#sponsor_list {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table; }
    footer ul#sponsor_list li {
      display: inline-block;
      vertical-align: middle;
      max-width: 100px;
      clear: both;
      margin-right: 24px; }
      footer ul#sponsor_list li img {
        margin: 0 auto;
        margin-bottom: 12px;
        max-width: 100px;
        display: block; }
      footer ul#sponsor_list li span {
        display: block;
        font-size: 0.8em; }
  footer h1, footer h2, footer h3, footer p, footer a {
    color: #ec6338; }
  footer a {
    font-weight: bold; }
  footer p {
    font-size: 0.5em;
    font-style: italic;
    text-align: center; }

.btn {
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #f9c36f; }

.btn-primary-dark {
  background-color: #c53d13;
  border: 1px solid #b73911;
  color: #f9c36f; }
  .btn-primary-dark:hover, .btn-primary-dark:focus {
    background-color: #90120e;
    border: 1px solid #82100d;
    color: #f9c36f; }

.btn-primary {
  background-color: #ec6338;
  border: 1px solid #eb582a;
  color: #f9c36f; }
  .btn-primary:hover, .btn-primary:focus {
    background-color: #c53d13;
    border: 1px solid #b73911;
    color: #f9c36f; }

.ad {
  color: #90120e;
  margin: 12px; }
  .ad > div {
    width: 250px;
    height: 200px;
    margin-bottom: 12px;
    background-color: rgba(255, 196, 150, 0.5); }
    .ad > div img {
      max-width: 100%; }
  .ad .sponsors {
    padding: 12px;
    height: 206px;
    background-color: transparent;
    border: 1px solid #90120e; }
    .ad .sponsors .sponsor-list {
      padding: 0px;
      font-size: 16px;
      color: #90120e; }
      .ad .sponsors .sponsor-list a {
        color: #90120e; }

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: #ec6338; }

.heading-img {
  -moz-border-radius: 120px;
  -webkit-border-radius: 120px;
  -khtml-border-radius: 120px;
  border-radius: 120px;
  box-shadow: 2px 3px #412218;
  display: block;
  margin-top: 36px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  background-color: #90120e;
  width: 240px;
  height: 240px;
  padding: 12px; }
  .heading-img img {
    width: 216px; }

.subtitle {
  margin: 0;
  padding: 0;
  margin-top: -24px;
  font-size: 1.3em;
  font-weight: bold;
  color: #f07e2d;
  text-shadow: #b15c41 1px 1px 0; }

div.mouseover-text {
  background-color: white;
  position: absolute;
  z-index: 99;
  font-size: 0.8em;
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px; }

div.cafe-types {
  margin: 6px 0; }
  div.cafe-types img {
    margin-right: 3px; }

@media only screen and (max-width: 650px) {
  body {
    font-size: 1em; } }
@media only screen and (max-width: 768px) {
  header {
    height: auto; }

  h1, .h1 {
    font-size: 2.6em; }

  h2 {
    font-size: 2em; }

  h3, h4 {
    font-size: 1.5em; }

  .content h1, .content h2, .content h3, .content h4 {
    text-align: center; }

  .heading-img {
    width: 50%;
    height: 50%; }
    .heading-img img {
      width: 100%; }

  footer div#footer-wrapper div#social-media-share, footer div#footer-wrapper div#sponsors {
    float: none;
    width: 100%;
    display: block; }
  footer div#footer-wrapper #social-media-share {
    margin-bottom: 12px; }
  footer #share-button {
    width: 150px; }
  footer ul#sponsor_list {
    display: block; }
    footer ul#sponsor_list li {
      display: inline-block; }
      footer ul#sponsor_list li span {
        display: none; }
      footer ul#sponsor_list li img {
        width: 80px; } }
.addthis_native_toolbox {
  width: 200px;
  display: block;
  overflow: hidden; }
  .addthis_native_toolbox a {
    height: 30px;
    margin-right: 12px;
    display: table-cell; }
    .addthis_native_toolbox a div span {
      vertical-align: top !important; }

#_atssh {
  display: none; }

span.name {
  font-weight: bold; }

h2, h3 {
  clear: both; }

.team {
  display: table;
  border-spacing: 12px; }
  .team li {
    display: table-row;
    vertical-align: top; }
  .team .team-image, .team .team-text {
    display: table-cell;
    text-align: left;
    vertical-align: top; }
    .team .team-image img, .team .team-text img {
      -o-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
    .team .team-image a, .team .team-text a {
      display: block; }
    .team .team-image:hover img, .team .team-text:hover img {
      opacity: 0.7; }
  .team img {
    width: 150px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    -khtml-border-radius: 75px;
    border-radius: 75px;
    margin-right: 24px; }
  .team h3 {
    margin-top: 0; }
  .team p {
    margin: 0;
    padding: 0;
    margin-bottom: 12px; }

@media (max-width: 768px) {
  .team .team-image, .team .team-text {
    width: 100%;
    display: block; }
  .team .team-text .name {
    width: 100%;
    display: block;
    text-align: center; }
  .team .team-image {
    text-align: center;
    margin-bottom: 12px; }
    .team .team-image img {
      margin: 0; } }
div#links-to-parts-of-site {
  margin: 0 auto;
  text-align: center;
  padding: 24px;
  padding-top: 0; }
  div#links-to-parts-of-site a {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    text-shadow: #c53d13 1px 2px 0;
    color: #f9c36f;
    text-decoration: none;
    font-weight: bold;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    div#links-to-parts-of-site a:hover, div#links-to-parts-of-site a.selected, div#links-to-parts-of-site a:focus {
      background-color: #c53d13; }
  div#links-to-parts-of-site a {
    padding: 24px;
    margin: 12px;
    display: inline-block; }
    div#links-to-parts-of-site a span {
      display: block;
      font-size: 1.2em; }
      div#links-to-parts-of-site a span.small-btn-title {
        font-size: 0.8em; }
    div#links-to-parts-of-site a img {
      width: 150px;
      margin: 12px; }

@media only screen and (max-width: 650px) {
  div#links-to-parts-of-site {
    padding: 3px; }
    div#links-to-parts-of-site a span {
      font-size: 1em; }
    div#links-to-parts-of-site a img {
      width: 80px; } }
.map {
  position: relative;
  min-height: 100px;
  height: 100%; }

#map-canvas, .angular-google-map-container {
  width: 100%;
  height: 500px;
  background-color: #412218;
  color: #412218;
  font-family: Quicksand, Helvetica, Arial, sans-serif; }
  #map-canvas .gm-style-iw, .angular-google-map-container .gm-style-iw {
    height: auto !important; }
    #map-canvas .gm-style-iw div, .angular-google-map-container .gm-style-iw div {
      height: auto !important; }
  #map-canvas h3, .angular-google-map-container h3 {
    text-shadow: none;
    font-size: 1.3em;
    font-family: Quicksand, Helvetica, Arial, sans-serif;
    color: #90120e;
    padding: 0;
    margin: 0;
    margin-bottom: 6px;
    display: block;
    text-transform: none;
    text-align: left; }
  #map-canvas a, .angular-google-map-container a {
    display: inline-block;
    clear: both;
    margin-right: 6px; }

.map-controls {
  position: absolute;
  z-index: 9;
  top: 12px;
  right: 12px; }
  @media only screen and (max-width: 768px) {
    .map-controls {
      right: 12px;
      top: 12px; } }

.location-display {
  display: table;
  width: 100%; }
  .location-display > div {
    display: table-cell; }
    @media (max-width: 768px) {
      .location-display > div {
        vertical-align: middle; } }
    .location-display > div:first-child {
      width: 100%; }

.location-input {
  display: table;
  width: 100%; }
  .location-input input {
    width: 100%;
    display: table-cell;
    font-size: 14px;
    border: 1px solid #90120e;
    padding: 6px;
    margin-top: 12px; }
  .location-input a {
    display: table-cell;
    color: #90120e;
    text-align: right; }

.mobile-controls {
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid #90110d; }
  .mobile-controls .mobile-controls-search {
    -webkit-flex: 1;
    flex: 1;
    padding: 6px 12px; }
    .mobile-controls .mobile-controls-search .location-input input {
      margin: 12px 0; }
    .mobile-controls .mobile-controls-search .location-input a {
      padding-left: 12px;
      text-align: center; }
  .mobile-controls .mode-toggle {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 0;
    max-height: 100%;
    text-align: center; }
    .mobile-controls .mode-toggle a {
      -webkit-flex: 1;
      flex: 1;
      -o-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      min-width: 55px;
      height: 100%;
      background-color: #90120e;
      padding: 12px;
      color: #FFF5E6; }
      .mobile-controls .mode-toggle a:not(:last-child) {
        border-right: 1px solid #620c09; }
      .mobile-controls .mode-toggle a:hover, .mobile-controls .mode-toggle a:focus, .mobile-controls .mode-toggle a.active {
        background-color: #620c09;
        text-decoration: none; }
      .mobile-controls .mode-toggle a span {
        -webkit-align-self: center;
        align-self: center; }
      .mobile-controls .mode-toggle a.active {
        display: none; }

.map-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: 100%;
  max-height: 100%; }
  .map-wrapper .map {
    -webkit-flex: 1;
    flex: 1; }

.map > div {
  padding-left: 0;
  padding-right: 0; }

.map .cafes {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding: 24px;
  padding-top: 12px;
  height: 100%; }
  @media (max-width: 768px) {
    .map .cafes {
      padding: 0; } }
  .map .cafes .cafe-list-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    flex: 1; }
  .map .cafes .cafe-numbers a.location {
    text-decoration: underline; }
  .map .cafes .cafe-numbers .fa-search {
    padding-right: 0; }
  .map .cafes .cafe-list {
    -webkit-flex: 1;
    flex: 1;
    margin-top: 12px;
    overflow-y: scroll;
    min-height: 100px; }
    @media (max-width: 996px) {
      .map .cafes .cafe-list {
        margin-top: 0; } }
    .map .cafes .cafe-list::-webkit-scrollbar {
      display: none; }
    .map .cafes .cafe-list ul {
      margin-top: 0;
      width: 100%; }
      .map .cafes .cafe-list ul li:last-child {
        padding-bottom: 24px; }
      .map .cafes .cafe-list ul li > div {
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        display: block;
        padding: 12px 6px;
        text-decoration: none;
        clear: both; }
        .map .cafes .cafe-list ul li > div:after, .map .cafes .cafe-list ul li > div:before {
          clear: both;
          content: " ";
          display: block; }
        .map .cafes .cafe-list ul li > div:hover, .map .cafes .cafe-list ul li > div.hover {
          background-color: rgba(255, 196, 150, 0.3); }
      .map .cafes .cafe-list ul li .cafe-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        float: left; }
      .map .cafes .cafe-list ul li .cafe-link {
        width: 10%;
        float: right;
        text-align: right; }

.cafe .cafe-container {
  display: table-row; }
  .cafe .cafe-container > div {
    display: table-cell;
    vertical-align: middle; }
    .cafe .cafe-container > div:first-child {
      padding-right: 12px;
      padding-left: 6px; }
      .cafe .cafe-container > div:first-child img, .cafe .cafe-container > div:first-child .img {
        width: 100px;
        height: 100px;
        color: #FFC496;
        background-color: rgba(255, 196, 150, 0.5);
        background-size: cover;
        background-position: center;
        text-align: center; }
        .cafe .cafe-container > div:first-child img i, .cafe .cafe-container > div:first-child .img i {
          font-size: 50px;
          line-height: 50px;
          margin: 25px; }
    .cafe .cafe-container > div:nth-child(2) {
      vertical-align: top;
      width: 100%; }

.user-marker-window h3, .user-marker-window p {
  text-align: center; }

.map-view, .list-view {
  left: 0px; }

@media (max-width: 767px) {
  .hide-view {
    position: absolute !important;
    left: -1000px; } }

.cafe section {
  padding-top: 48px !important; }
  @media (max-width: 768px) {
    .cafe section {
      padding-top: 24px; } }
.cafe h1 {
  margin-top: 0;
  text-align: left; }
  .cafe h1 a {
    color: #90120e; }
    .cafe h1 a:hover, .cafe h1 a:focus {
      text-decoration: none; }
.cafe .fa-external-link, .cafe .fa-spinner {
  font-size: 18px;
  color: #90120e;
  margin-left: 12px;
  float: right; }
.cafe .cafe-map, .cafe .cafe-details {
  margin-top: 24px; }
  @media (max-width: 768px) {
    .cafe .cafe-map, .cafe .cafe-details {
      margin-top: 12px; } }
.cafe .cafe-map {
  max-width: 100%;
  float: right; }
  @media (max-width: 768px) {
    .cafe .cafe-map {
      float: none; } }
.cafe .cafe-details {
  width: 100%; }
  .cafe .cafe-details > div:first-child {
    width: 56.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
    @media (max-width: 768px) {
      .cafe .cafe-details > div:first-child {
        width: 98.33333%;
        float: left;
        margin-left: 0.83333%;
        margin-right: 0.83333%; } }
  .cafe .cafe-details > div:nth-child(2) {
    width: 40%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
    @media (max-width: 768px) {
      .cafe .cafe-details > div:nth-child(2) {
        width: 98.33333%;
        float: left;
        margin-left: 0.83333%;
        margin-right: 0.83333%; } }
  .cafe .cafe-details > div > li {
    margin-bottom: 24px;
    display: -webkit-flex;
    display: flex; }
    .cafe .cafe-details > div > li > div:first-child {
      text-align: center;
      width: 24px;
      height: 24px;
      vertical-align: top;
      margin-right: 9px; }
    .cafe .cafe-details > div > li > div:nth-child(2) {
      max-width: 300px;
      -webkit-flex: 1;
      flex: 1; }
.cafe .cafe-todays-hours {
  font-weight: bold;
  display: -webkit-flex;
  display: flex; }
  .cafe .cafe-todays-hours:hover, .cafe .cafe-todays-hours:focus {
    text-decoration: none; }
  .cafe .cafe-todays-hours span:first-child {
    -webkit-flex: 1;
    flex: 1; }
  .cafe .cafe-todays-hours span:nth-child(2) {
    -webkit-flex: 2;
    flex: 2; }
.cafe .cafe-hours-toggle {
  display: inline-block; }
  .cafe .cafe-hours-toggle .fa {
    font-weight: bold;
    font-size: 18px; }
.cafe .cafe-photo-section {
  width: 40%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }
  @media (max-width: 768px) {
    .cafe .cafe-photo-section {
      width: 98.33333%;
      float: left;
      margin-left: 0.83333%;
      margin-right: 0.83333%; } }
.cafe .cafe-photo-featured {
  max-width: 100%; }
.cafe .cafe-hours {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-top: 12px; }
  .cafe .cafe-hours li {
    display: flex;
    margin-bottom: 6px; }
    .cafe .cafe-hours li span:first-child {
      font-weight: bold;
      flex: 1; }
    .cafe .cafe-hours li span:nth-child(2) {
      flex: 2; }
.cafe .container > div:first-child {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }
.cafe .container > div:nth-child(2) {
  width: 56.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }
  @media (max-width: 768px) {
    .cafe .container > div:nth-child(2) {
      width: 98.33333%;
      float: left;
      margin-left: 0.83333%;
      margin-right: 0.83333%;
      margin-bottom: 24px; } }
