@font-face {
  font-family: "Matchbook";
  src: url('fonts/Matchbook.eot?1413988642');
  src: url('fonts/Matchbook.eot?&1413988642#iefix') format('embedded-opentype'), url('fonts/Matchbook.eot?1413988642') format('embedded-opentype'), url('fonts/Matchbook.ttf?1413988642') format('truetype');
  font-weight: normal; }
/* line 5, sass/_fonts.sass */
body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

/* line 114, sass/_constants.sass */
.margin-l {
  margin-left: 12px; }

/* line 116, sass/_constants.sass */
.margin-r {
  margin-right: 12px; }

/* line 3, sass/_style.sass */
body {
  position: relative;
  background-color: #FFF5E6;
  color: #90120e;
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-size: 18px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }
  /* line 12, sass/_style.sass */
  body > .content {
    -webkit-flex: 1;
    flex: 1; }

/* line 14, sass/_style.sass */
.container {
  max-width: 900px; }

/* line 16, sass/_style.sass */
.container-full {
  width: 100%;
  max-width: 100% !important; }

/* line 22, sass/_style.sass */
.content > div, .content > section {
  padding-bottom: 48px; }
  @media (max-width: 768px) {
    /* line 22, sass/_style.sass */
    .content > div, .content > section {
      padding-bottom: 24px; } }
/* line 26, sass/_style.sass */
.content > .no-padding {
  padding-bottom: 0; }

/* line 28, sass/_style.sass */
section {
  padding: 24px 0; }

/* line 31, sass/_style.sass */
header {
  width: 100%;
  height: 75px; }

/* line 34, sass/_style.sass */
header, .navbar-header {
  background-color: #ec6338; }

/* line 40, sass/_style.sass */
nav .navbar-nav > li {
  margin-left: 12px; }
  /* line 93, sass/_constants.sass */
  nav .navbar-nav > li a {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    text-shadow: #c53d13 1px 2px 0;
    background-color: #ec6338;
    color: #f9c36f;
    text-decoration: none;
    font-weight: bold;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    /* line 101, sass/_constants.sass */
    nav .navbar-nav > li a:hover, nav .navbar-nav > li a.selected, nav .navbar-nav > li a:focus {
      background-color: #c53d13; }
  /* line 43, sass/_style.sass */
  nav .navbar-nav > li > a {
    font-size: 18px;
    line-height: 18px; }
    /* line 46, sass/_style.sass */
    nav .navbar-nav > li > a:hover, nav .navbar-nav > li > a:focus {
      color: #f9c36f;
      text-decoration: none;
      background-color: #c53d13 !important; }
    @media (max-width: 768px) {
      /* line 43, sass/_style.sass */
      nav .navbar-nav > li > a {
        padding-left: 12px; } }
/* line 53, sass/_style.sass */
nav .navbar-nav .soc-media-links a, nav .navbar-nav .soc-media-links .a {
  display: inline-block;
  padding-right: 6px;
  padding-left: 0;
  margin-right: 6px;
  font-size: 20px;
  line-height: 20px; }
  /* line 60, sass/_style.sass */
  nav .navbar-nav .soc-media-links a:hover, nav .navbar-nav .soc-media-links a:focus, nav .navbar-nav .soc-media-links .a:hover, nav .navbar-nav .soc-media-links .a:focus {
    background-color: transparent !important; }
@media only screen and (max-width: 768px) {
  /* line 52, sass/_style.sass */
  nav .navbar-nav .soc-media-links {
    padding-left: 12px; } }
@media (max-width: 768px) {
  /* line 65, sass/_style.sass */
  nav.navbar-collapse {
    padding: 0; } }

/* line 69, sass/_style.sass */
.navbar-toggle {
  margin: 18.5px 12px; }
  /* line 71, sass/_style.sass */
  .navbar-toggle .icon-bar {
    background-color: #f9c36f;
    height: 3px;
    border-radius: 1px;
    width: 30px;
    box-shadow: 1px 1px 1px #c53d13; }

/* line 78, sass/_style.sass */
.nav {
  margin: 12.5px 0; }
  @media (max-width: 768px) {
    /* line 78, sass/_style.sass */
    .nav {
      margin: 15px 0; } }

/* line 82, sass/_style.sass */
.navbar-brand {
  height: 75px;
  padding: 12px 0;
  color: #f9c36f; }
  @media (max-width: 768px) {
    /* line 82, sass/_style.sass */
    .navbar-brand {
      margin-left: 12px; } }
  /* line 88, sass/_style.sass */
  .navbar-brand:hover {
    color: #f9c36f; }
  /* line 90, sass/_style.sass */
  .navbar-brand .logo {
    width: 51px;
    display: inline-block;
    vertical-align: top; }
  /* line 94, sass/_style.sass */
  .navbar-brand .h1 {
    font-family: "Matchbook";
    text-transform: uppercase;
    text-shadow: #c53d13 1px 2px 0;
    margin: 0;
    padding: 0;
    line-height: 51px;
    font-size: 51px;
    margin-left: 18px;
    text-align: left;
    display: inline-block; }
    /* line 93, sass/_constants.sass */
    .navbar-brand .h1 a {
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      -khtml-border-radius: 6px;
      border-radius: 6px;
      text-shadow: #c53d13 1px 2px 0;
      background-color: #ec6338;
      color: #f9c36f;
      text-decoration: none;
      font-weight: bold;
      -o-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      /* line 101, sass/_constants.sass */
      .navbar-brand .h1 a:hover, .navbar-brand .h1 a.selected, .navbar-brand .h1 a:focus {
        background-color: #c53d13; }

/* line 106, sass/_style.sass */
div.clear-both {
  clear: both; }

/* line 109, sass/_style.sass */
h1, h2, h3, h4, .h1 {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  font-weight: bold; }

/* line 113, sass/_style.sass */
h1 {
  color: #90120e; }

/* line 116, sass/_style.sass */
h2 {
  color: #90120e; }

/* line 119, sass/_style.sass */
h3 {
  color: #90120e; }

/* line 122, sass/_style.sass */
a, .a {
  color: #90120e;
  font-weight: bold; }
  /* line 125, sass/_style.sass */
  a:focus, a:hover, .a:focus, .a:hover {
    color: #90120e;
    text-decoration: underline; }

/* line 129, sass/_style.sass */
p {
  margin-top: 0;
  font-size: 1em; }
  /* line 132, sass/_style.sass */
  p.desc {
    text-align: center; }

/* line 135, sass/_style.sass */
footer {
  width: 100%;
  background-color: #90120e;
  padding: 24px 0px;
  margin-top: 0px; }
  /* line 140, sass/_style.sass */
  footer h3 {
    display: block;
    margin-top: 0px;
    margin-bottom: 12px; }
  /* line 144, sass/_style.sass */
  footer div#footer-wrapper {
    margin: 0 auto; }
    /* line 146, sass/_style.sass */
    footer div#footer-wrapper div#sponsors {
      float: right;
      width: 70%; }
    /* line 149, sass/_style.sass */
    footer div#footer-wrapper div#social-media-share {
      float: left;
      width: 30%; }
      /* line 152, sass/_style.sass */
      footer div#footer-wrapper div#social-media-share ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        /* line 155, sass/_style.sass */
        footer div#footer-wrapper div#social-media-share ul a.share-button {
          margin-bottom: 6px;
          display: inline-block;
          background-color: #3B5998;
          padding: 6px;
          color: white;
          font-size: medium;
          text-shadow: none;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          -khtml-border-radius: 3px;
          border-radius: 3px; }
          /* line 164, sass/_style.sass */
          footer div#footer-wrapper div#social-media-share ul a.share-button img {
            width: 18px;
            margin-right: 3px;
            display: inline-block; }
          /* line 168, sass/_style.sass */
          footer div#footer-wrapper div#social-media-share ul a.share-button span {
            line-height: 18px; }
  /* line 170, sass/_style.sass */
  footer ul#sponsor_list {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table; }
    /* line 174, sass/_style.sass */
    footer ul#sponsor_list li {
      display: inline-block;
      vertical-align: middle;
      max-width: 100px;
      clear: both;
      margin-right: 24px; }
      /* line 180, sass/_style.sass */
      footer ul#sponsor_list li img {
        margin: 0 auto;
        margin-bottom: 12px;
        max-width: 100px;
        display: block; }
      /* line 185, sass/_style.sass */
      footer ul#sponsor_list li span {
        display: block;
        font-size: 0.8em; }
  /* line 189, sass/_style.sass */
  footer h1, footer h2, footer h3, footer p, footer a {
    color: #ec6338; }
  /* line 191, sass/_style.sass */
  footer a {
    font-weight: bold; }
  /* line 194, sass/_style.sass */
  footer p {
    font-size: 0.5em;
    font-style: italic;
    text-align: center; }

/* line 199, sass/_style.sass */
.btn {
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #f9c36f; }

/* line 202, sass/_style.sass */
.btn-primary-dark {
  background-color: #c53d13;
  border: 1px solid #b73911;
  color: #f9c36f; }
  /* line 108, sass/_constants.sass */
  .btn-primary-dark:hover, .btn-primary-dark:focus {
    background-color: #90120e;
    border: 1px solid #82100d;
    color: #f9c36f; }

/* line 204, sass/_style.sass */
.btn-primary {
  background-color: #ec6338;
  border: 1px solid #eb582a;
  color: #f9c36f; }
  /* line 108, sass/_constants.sass */
  .btn-primary:hover, .btn-primary:focus {
    background-color: #c53d13;
    border: 1px solid #b73911;
    color: #f9c36f; }

/* line 208, sass/_style.sass */
.ad {
  color: #90120e;
  margin: 12px; }
  /* line 209, sass/_style.sass */
  .ad > div {
    width: 250px;
    height: 200px;
    padding: 12px;
    margin-bottom: 12px;
    background-color: rgba(255, 196, 150, 0.5); }
  /* line 217, sass/_style.sass */
  .ad .sponsors {
    height: 206px;
    background-color: transparent;
    border: 1px solid #90120e; }
    /* line 221, sass/_style.sass */
    .ad .sponsors .sponsor-list {
      padding: 0px;
      font-size: 16px;
      color: #90120e; }
      /* line 225, sass/_style.sass */
      .ad .sponsors .sponsor-list a {
        color: #90120e; }

/* line 229, sass/_style.sass */
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: #ec6338; }

/* line 233, sass/_style.sass */
.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #FFC496 !important; }

/* line 236, sass/_style.sass */
.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #FFC496 !important; }

/* line 239, sass/_style.sass */
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #c53d13 !important; }

/* line 242, sass/_style.sass */
.heading-img {
  -moz-border-radius: 120px;
  -webkit-border-radius: 120px;
  -khtml-border-radius: 120px;
  border-radius: 120px;
  box-shadow: 2px 3px #412218;
  display: block;
  margin-top: 36px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  background-color: #90120e;
  width: 240px;
  height: 240px;
  padding: 12px; }
  /* line 255, sass/_style.sass */
  .heading-img img {
    width: 216px; }

/* line 258, sass/_style.sass */
.subtitle {
  margin: 0;
  padding: 0;
  margin-top: -24px;
  font-size: 1.3em;
  font-weight: bold;
  color: #f07e2d;
  text-shadow: #b15c41 1px 1px 0; }

/* line 266, sass/_style.sass */
div.mouseover-text {
  background-color: white;
  position: absolute;
  z-index: 99;
  font-size: 0.8em;
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px; }

/* line 274, sass/_style.sass */
div.cafe-types {
  margin: 6px 0; }
  /* line 276, sass/_style.sass */
  div.cafe-types img {
    margin-right: 3px; }

@media only screen and (max-width: 650px) {
  /* line 292, sass/_style.sass */
  body {
    font-size: 1em; } }
@media only screen and (max-width: 768px) {
  /* line 296, sass/_style.sass */
  h1, .h1 {
    font-size: 2.6em; }

  /* line 298, sass/_style.sass */
  h2, h3, h4 {
    font-size: 2em; }

  /* line 302, sass/_style.sass */
  .content h1, .content h2, .content h3, .content h4 {
    text-align: center; }

  /* line 305, sass/_style.sass */
  .heading-img {
    width: 50%;
    height: 50%; }
    /* line 308, sass/_style.sass */
    .heading-img img {
      width: 100%; }

  /* line 312, sass/_style.sass */
  footer div#footer-wrapper div#social-media-share, footer div#footer-wrapper div#sponsors {
    float: none;
    width: 100%;
    display: block; }
  /* line 316, sass/_style.sass */
  footer div#footer-wrapper #social-media-share {
    margin-bottom: 12px; }
  /* line 318, sass/_style.sass */
  footer #share-button {
    width: 150px; }
  /* line 320, sass/_style.sass */
  footer ul#sponsor_list {
    display: block; }
    /* line 322, sass/_style.sass */
    footer ul#sponsor_list li {
      display: inline-block; }
      /* line 324, sass/_style.sass */
      footer ul#sponsor_list li span {
        display: none; }
      /* line 326, sass/_style.sass */
      footer ul#sponsor_list li img {
        width: 80px; } }
/* line 328, sass/_style.sass */
.addthis_native_toolbox {
  width: 200px;
  display: block;
  overflow: hidden; }
  /* line 332, sass/_style.sass */
  .addthis_native_toolbox a {
    height: 30px;
    margin-right: 12px;
    display: table-cell; }
    /* line 335, sass/_style.sass */
    .addthis_native_toolbox a.addthis_button_facebook_like {
      margin-top: -3px; }
    /* line 341, sass/_style.sass */
    .addthis_native_toolbox a div span {
      vertical-align: top !important; }

/* line 343, sass/_style.sass */
#_atssh {
  display: none; }

/* line 4, sass/_about.sass */
span.name {
  font-weight: bold; }

/* line 7, sass/_about.sass */
h2, h3 {
  clear: both; }

/* line 10, sass/_about.sass */
.team {
  display: table;
  border-spacing: 12px; }
  /* line 13, sass/_about.sass */
  .team li {
    display: table-row;
    vertical-align: top; }
  /* line 16, sass/_about.sass */
  .team .team-image, .team .team-text {
    display: table-cell;
    text-align: left;
    vertical-align: top; }
    /* line 20, sass/_about.sass */
    .team .team-image img, .team .team-text img {
      -o-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
    /* line 22, sass/_about.sass */
    .team .team-image a, .team .team-text a {
      display: block; }
    /* line 24, sass/_about.sass */
    .team .team-image:hover img, .team .team-text:hover img {
      opacity: 0.7; }
  /* line 26, sass/_about.sass */
  .team img {
    width: 150px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    -khtml-border-radius: 75px;
    border-radius: 75px;
    margin-right: 24px; }
  /* line 30, sass/_about.sass */
  .team h3 {
    margin-top: 0; }
  /* line 32, sass/_about.sass */
  .team p {
    margin: 0;
    padding: 0;
    margin-bottom: 12px; }

@media (max-width: 768px) {
  /* line 38, sass/_about.sass */
  .team .team-image, .team .team-text {
    width: 100%;
    display: block; }
  /* line 41, sass/_about.sass */
  .team .team-text .name {
    width: 100%;
    display: block;
    text-align: center; }
  /* line 45, sass/_about.sass */
  .team .team-image {
    text-align: center;
    margin-bottom: 12px; }
    /* line 48, sass/_about.sass */
    .team .team-image img {
      margin: 0; } }
/* line 5, sass/_index.sass */
div#links-to-parts-of-site {
  margin: 0 auto;
  text-align: center;
  padding: 24px;
  padding-top: 0; }
  /* line 93, sass/_constants.sass */
  div#links-to-parts-of-site a {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    text-shadow: #c53d13 1px 2px 0;
    background-color: #ec6338;
    color: #f9c36f;
    text-decoration: none;
    font-weight: bold;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    /* line 101, sass/_constants.sass */
    div#links-to-parts-of-site a:hover, div#links-to-parts-of-site a.selected, div#links-to-parts-of-site a:focus {
      background-color: #c53d13; }
  /* line 12, sass/_index.sass */
  div#links-to-parts-of-site a {
    padding: 24px;
    margin: 12px;
    display: inline-block; }
    /* line 16, sass/_index.sass */
    div#links-to-parts-of-site a span {
      display: block;
      font-size: 1.2em; }
      /* line 19, sass/_index.sass */
      div#links-to-parts-of-site a span.small-btn-title {
        font-size: 0.8em; }
    /* line 21, sass/_index.sass */
    div#links-to-parts-of-site a img {
      width: 150px;
      margin: 12px; }

@media only screen and (max-width: 650px) {
  /* line 26, sass/_index.sass */
  div#links-to-parts-of-site {
    padding: 3px; }
    /* line 29, sass/_index.sass */
    div#links-to-parts-of-site a span {
      font-size: 1em; }
    /* line 31, sass/_index.sass */
    div#links-to-parts-of-site a img {
      width: 80px; } }
/* line 2, sass/_map.sass */
.map {
  position: relative;
  min-height: 100px;
  height: 100%; }

/* line 7, sass/_map.sass */
#map-canvas, .angular-google-map-container {
  width: 100%;
  height: 500px;
  background-color: #412218;
  color: #412218;
  font-family: Quicksand, Helvetica, Arial, sans-serif; }
  /* line 13, sass/_map.sass */
  #map-canvas .gm-style-iw, .angular-google-map-container .gm-style-iw {
    height: auto !important; }
    /* line 15, sass/_map.sass */
    #map-canvas .gm-style-iw div, .angular-google-map-container .gm-style-iw div {
      height: auto !important; }
  /* line 17, sass/_map.sass */
  #map-canvas h3, .angular-google-map-container h3 {
    text-shadow: none;
    font-size: 1.4em;
    font-family: Quicksand, Helvetica, Arial, sans-serif;
    color: #90120e;
    padding: 0;
    margin: 0;
    margin-bottom: 6px;
    display: block;
    text-transform: none;
    text-align: left; }
  /* line 28, sass/_map.sass */
  #map-canvas a, .angular-google-map-container a {
    display: inline-block;
    clear: both;
    margin-right: 6px; }

/* line 33, sass/_map.sass */
.map-controls {
  position: absolute;
  z-index: 9;
  top: 12px;
  right: 12px; }
  @media only screen and (max-width: 768px) {
    /* line 33, sass/_map.sass */
    .map-controls {
      right: 12px;
      top: 12px; } }

/* line 42, sass/_map.sass */
.location-display {
  display: table;
  width: 100%; }
  /* line 45, sass/_map.sass */
  .location-display > div {
    display: table-cell;
    vertical-align: middle; }
    /* line 48, sass/_map.sass */
    .location-display > div:first-child {
      width: 100%; }

/* line 51, sass/_map.sass */
.location-input {
  display: table;
  width: 100%; }
  /* line 54, sass/_map.sass */
  .location-input input {
    width: 100%;
    display: table-cell;
    font-size: 14px;
    border: 1px solid #90120e;
    padding: 6px;
    margin-top: 12px; }
  /* line 61, sass/_map.sass */
  .location-input a {
    display: table-cell;
    color: #90120e;
    text-align: right; }

/* line 66, sass/_map.sass */
.mobile-controls {
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid #90110d; }
  /* line 69, sass/_map.sass */
  .mobile-controls .mobile-controls-search {
    -webkit-flex: 1;
    flex: 1;
    padding: 6px 12px; }
    /* line 73, sass/_map.sass */
    .mobile-controls .mobile-controls-search .location-input input {
      margin: 12px 0; }
    /* line 75, sass/_map.sass */
    .mobile-controls .mobile-controls-search .location-input a {
      padding-left: 12px;
      text-align: center; }
  /* line 79, sass/_map.sass */
  .mobile-controls .mode-toggle {
    display: table;
    margin: 0;
    text-align: center;
    height: 100%; }
    /* line 84, sass/_map.sass */
    .mobile-controls .mode-toggle li {
      margin: 0;
      padding: 0;
      height: 100%;
      display: table-cell; }
      /* line 89, sass/_map.sass */
      .mobile-controls .mode-toggle li:not(:last-child) {
        border-right: 1px solid #620c09; }
      /* line 91, sass/_map.sass */
      .mobile-controls .mode-toggle li a {
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        min-width: 55px;
        display: block;
        background-color: #90120e;
        padding: 12px;
        color: #FFF5E6;
        height: 100%; }
        /* line 99, sass/_map.sass */
        .mobile-controls .mode-toggle li a:hover, .mobile-controls .mode-toggle li a:focus, .mobile-controls .mode-toggle li a.active {
          background-color: #620c09;
          text-decoration: none; }
      /* line 102, sass/_map.sass */
      .mobile-controls .mode-toggle li.active {
        display: none; }

/* line 104, sass/_map.sass */
.map-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: 100%;
  max-height: 100%; }
  /* line 109, sass/_map.sass */
  .map-wrapper .map {
    -webkit-flex: 1;
    flex: 1; }

/* line 112, sass/_map.sass */
.map > div {
  padding-left: 0;
  padding-right: 0; }

/* line 116, sass/_map.sass */
.map .cafes {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding: 24px;
  height: 100%; }
  @media (max-width: 768px) {
    /* line 116, sass/_map.sass */
    .map .cafes {
      padding-right: 12px;
      padding-top: 0; } }
  /* line 126, sass/_map.sass */
  .map .cafes .cafe-list-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    flex: 1; }
  /* line 131, sass/_map.sass */
  .map .cafes .cafe-numbers a.location {
    text-decoration: underline; }
  /* line 133, sass/_map.sass */
  .map .cafes .cafe-numbers .fa-search {
    padding-right: 0; }
  /* line 136, sass/_map.sass */
  .map .cafes .cafe-list {
    -webkit-flex: 1;
    flex: 1;
    margin-top: 12px;
    overflow-y: scroll;
    min-height: 100px; }
    @media (max-width: 996px) {
      /* line 136, sass/_map.sass */
      .map .cafes .cafe-list {
        margin-top: 0; } }
    /* line 143, sass/_map.sass */
    .map .cafes .cafe-list::-webkit-scrollbar {
      display: none; }
    /* line 145, sass/_map.sass */
    .map .cafes .cafe-list ul {
      margin-top: 0;
      width: 100%; }
      /* line 149, sass/_map.sass */
      .map .cafes .cafe-list ul li:last-child {
        padding-bottom: 24px; }
      /* line 151, sass/_map.sass */
      .map .cafes .cafe-list ul li > div {
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        display: block;
        padding: 12px 6px;
        text-decoration: none;
        clear: both; }
        /* line 157, sass/_map.sass */
        .map .cafes .cafe-list ul li > div:after, .map .cafes .cafe-list ul li > div:before {
          clear: both;
          content: " ";
          display: block; }
        /* line 161, sass/_map.sass */
        .map .cafes .cafe-list ul li > div:hover, .map .cafes .cafe-list ul li > div.hover {
          background-color: rgba(255, 196, 150, 0.3); }
      /* line 163, sass/_map.sass */
      .map .cafes .cafe-list ul li .cafe-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        float: left; }
      /* line 168, sass/_map.sass */
      .map .cafes .cafe-list ul li .cafe-link {
        width: 10%;
        float: right;
        text-align: right; }

/* line 177, sass/_map.sass */
.cafe .cafe-container {
  display: table-row; }
  /* line 179, sass/_map.sass */
  .cafe .cafe-container > div {
    display: table-cell;
    vertical-align: middle; }
    /* line 182, sass/_map.sass */
    .cafe .cafe-container > div:first-child {
      padding-right: 12px;
      padding-left: 6px; }
      /* line 185, sass/_map.sass */
      .cafe .cafe-container > div:first-child img, .cafe .cafe-container > div:first-child .img {
        width: 100px;
        height: 100px;
        color: #FFC496;
        background-color: rgba(255, 196, 150, 0.5);
        background-size: cover;
        background-position: center;
        text-align: center; }
        /* line 194, sass/_map.sass */
        .cafe .cafe-container > div:first-child img i, .cafe .cafe-container > div:first-child .img i {
          font-size: 50px;
          line-height: 50px;
          margin: 25px; }
    /* line 199, sass/_map.sass */
    .cafe .cafe-container > div:nth-child(2) {
      vertical-align: top;
      width: 100%; }

/* line 204, sass/_map.sass */
.user-marker-window h3, .user-marker-window p {
  text-align: center; }

/* line 207, sass/_map.sass */
.map-view, .list-view {
  left: 0px; }

@media (max-width: 767px) {
  /* line 209, sass/_map.sass */
  .hide-view {
    position: absolute !important;
    left: -1000px; } }

/* line 3, sass/_cafe.sass */
.cafe section {
  padding-top: 48px; }
  @media (max-width: 768px) {
    /* line 3, sass/_cafe.sass */
    .cafe section {
      padding-top: 24px; } }
/* line 8, sass/_cafe.sass */
.cafe h1 {
  margin-top: 0; }
  /* line 10, sass/_cafe.sass */
  .cafe h1 a {
    color: #90120e; }
    /* line 12, sass/_cafe.sass */
    .cafe h1 a:hover, .cafe h1 a:focus {
      text-decoration: none; }
/* line 15, sass/_cafe.sass */
.cafe .fa-external-link, .cafe .fa-spinner {
  font-size: 1.2em;
  color: #90120e;
  margin-left: 12px; }
/* line 20, sass/_cafe.sass */
.cafe .cafe-map, .cafe .cafe-details {
  margin-top: 24px; }
  @media (max-width: 768px) {
    /* line 20, sass/_cafe.sass */
    .cafe .cafe-map, .cafe .cafe-details {
      margin-top: 12px; } }
/* line 25, sass/_cafe.sass */
.cafe .cafe-map {
  max-width: 100%;
  float: right; }
  @media (max-width: 768px) {
    /* line 25, sass/_cafe.sass */
    .cafe .cafe-map {
      float: none; } }
/* line 30, sass/_cafe.sass */
.cafe .cafe-details {
  width: 100%; }
  /* line 32, sass/_cafe.sass */
  .cafe .cafe-details li {
    margin-bottom: 12px;
    display: flex; }
    /* line 36, sass/_cafe.sass */
    .cafe .cafe-details li > div:first-child {
      text-align: center;
      width: 24px;
      height: 24px;
      vertical-align: top;
      margin-right: 9px; }
    /* line 42, sass/_cafe.sass */
    .cafe .cafe-details li > div:nth-child(2) {
      max-width: 300px;
      flex: 1; }
/* line 45, sass/_cafe.sass */
.cafe .cafe-todays-hours {
  font-weight: bold;
  display: -webkit-flex;
  display: flex; }
  /* line 49, sass/_cafe.sass */
  .cafe .cafe-todays-hours span:first-child {
    -webkit-flex: 1;
    flex: 1; }
  /* line 51, sass/_cafe.sass */
  .cafe .cafe-todays-hours span:nth-child(2) {
    -webkit-flex: 2;
    flex: 2; }
/* line 54, sass/_cafe.sass */
.cafe .cafe-hours-toggle {
  float: right;
  display: inline-block; }
  /* line 57, sass/_cafe.sass */
  .cafe .cafe-hours-toggle .fa {
    font-weight: bold;
    font-size: 18px; }
/* line 61, sass/_cafe.sass */
.cafe .cafe-photo-featured {
  max-width: 100%; }
/* line 63, sass/_cafe.sass */
.cafe .cafe-hours {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-top: 12px; }
  /* line 68, sass/_cafe.sass */
  .cafe .cafe-hours li {
    display: flex; }
    /* line 71, sass/_cafe.sass */
    .cafe .cafe-hours li span:first-child {
      font-weight: bold;
      flex: 1; }
    /* line 74, sass/_cafe.sass */
    .cafe .cafe-hours li span:nth-child(2) {
      flex: 2; }
