@font-face {
  font-family: "Matchbook";
  src: url('fonts/Matchbook.eot?1410503935');
  src: url('fonts/Matchbook.eot?&1410503935#iefix') format('embedded-opentype'), url('fonts/Matchbook.eot?1410503935') format('embedded-opentype'), url('fonts/Matchbook.ttf?1410503935') format('truetype');
  font-weight: normal; }
@font-face {
  font-family: "Champagne";
  src: url('fonts/Champagne_&_Limousines.eot?1410503935');
  src: url('fonts/Champagne_&_Limousines.eot?&1410503935#iefix') format('embedded-opentype'), url('fonts/Champagne_&_Limousines.eot?1410503935') format('embedded-opentype'), url('fonts/Champagne_&_Limousines.ttf?1410503935') format('truetype');
  font-weight: normal; }
@font-face {
  font-family: "Champagne";
  src: url('fonts/Champagne_&_Limousines_Bold.eot?1410503935');
  src: url('fonts/Champagne_&_Limousines_Bold.eot?&1410503935#iefix') format('embedded-opentype'), url('fonts/Champagne_&_Limousines_Bold.eot?1410503935') format('embedded-opentype'), url('fonts/Champagne_&_Limousines_Bold.ttf?1410503935') format('truetype');
  font-weight: bold; }
/* line 7, sass/_fonts.sass */
body, .cafe-name {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

/* line 115, sass/_constants.sass */
.margin-l {
  margin-left: 12px; }

/* line 117, sass/_constants.sass */
.margin-r {
  margin-right: 12px; }

/* line 3, sass/_style.sass */
body {
  background-color: #ffe9c6;
  color: #90120e;
  font-family: "Champagne", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }
  /* line 12, sass/_style.sass */
  body > .content {
    -webkit-flex: 1;
    flex: 1; }

/* line 14, sass/_style.sass */
.container {
  max-width: 900px; }

/* line 16, sass/_style.sass */
.container-full {
  width: 100%;
  max-width: 100% !important; }

/* line 21, sass/_style.sass */
.content > div, .content > section {
  padding-bottom: 48px; }

/* line 24, sass/_style.sass */
header {
  width: 100%; }

/* line 26, sass/_style.sass */
header, .navbar-header {
  background-color: #ec6338; }

@media screen and (max-width: 500px) {
  /* line 29, sass/_style.sass */
  nav ul {
    float: none;
    display: block; } }
/* line 35, sass/_style.sass */
nav .navbar-nav > li {
  margin-left: 12px; }
  /* line 94, sass/_constants.sass */
  nav .navbar-nav > li a {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    text-shadow: #c53d13 1px 2px 0;
    background-color: #ec6338;
    color: #f9c36f;
    text-decoration: none;
    font-weight: bold;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    /* line 102, sass/_constants.sass */
    nav .navbar-nav > li a:hover, nav .navbar-nav > li a.selected, nav .navbar-nav > li a:focus {
      background-color: #c53d13; }
  /* line 38, sass/_style.sass */
  nav .navbar-nav > li > a {
    font-size: 18px;
    line-height: 18px; }
    /* line 41, sass/_style.sass */
    nav .navbar-nav > li > a:hover, nav .navbar-nav > li > a:focus {
      color: #f9c36f;
      text-decoration: none;
      background-color: #c53d13 !important; }
    @media (max-width: 768px) {
      /* line 38, sass/_style.sass */
      nav .navbar-nav > li > a {
        padding-left: 12px; } }
/* line 48, sass/_style.sass */
nav .navbar-nav .soc-media-links a, nav .navbar-nav .soc-media-links .a {
  display: inline-block;
  padding-right: 6px;
  padding-left: 0;
  margin-right: 6px;
  font-size: 20px;
  line-height: 20px; }
  /* line 55, sass/_style.sass */
  nav .navbar-nav .soc-media-links a:hover, nav .navbar-nav .soc-media-links a:focus, nav .navbar-nav .soc-media-links .a:hover, nav .navbar-nav .soc-media-links .a:focus {
    background-color: transparent !important; }
@media only screen and (max-width: 768px) {
  /* line 47, sass/_style.sass */
  nav .navbar-nav .soc-media-links {
    padding-left: 12px; } }
@media (max-width: 768px) {
  /* line 60, sass/_style.sass */
  nav.navbar-collapse {
    padding: 0; } }

/* line 64, sass/_style.sass */
.navbar-toggle {
  margin: 18.5px 12px; }
  /* line 66, sass/_style.sass */
  .navbar-toggle .icon-bar {
    background-color: #f9c36f;
    height: 3px;
    border-radius: 1px;
    width: 30px;
    box-shadow: 1px 1px 1px #c53d13; }

/* line 73, sass/_style.sass */
.nav {
  margin: 12.5px 0; }
  @media (max-width: 768px) {
    /* line 73, sass/_style.sass */
    .nav {
      margin: 15px 0; } }

/* line 77, sass/_style.sass */
.navbar-brand {
  height: 75px;
  padding: 12px 0;
  color: #f9c36f; }
  @media (max-width: 768px) {
    /* line 77, sass/_style.sass */
    .navbar-brand {
      margin-left: 12px; } }
  /* line 83, sass/_style.sass */
  .navbar-brand:hover {
    color: #f9c36f; }
  /* line 85, sass/_style.sass */
  .navbar-brand .logo {
    width: 51px;
    display: inline-block;
    vertical-align: top; }
  /* line 89, sass/_style.sass */
  .navbar-brand .h1 {
    text-shadow: #c53d13 1px 2px 0;
    margin: 0;
    padding: 0;
    line-height: 63px;
    font-size: 51px;
    margin-left: 18px;
    text-align: left;
    display: inline-block; }
    /* line 94, sass/_constants.sass */
    .navbar-brand .h1 a {
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      -khtml-border-radius: 6px;
      border-radius: 6px;
      text-shadow: #c53d13 1px 2px 0;
      background-color: #ec6338;
      color: #f9c36f;
      text-decoration: none;
      font-weight: bold;
      -o-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      /* line 102, sass/_constants.sass */
      .navbar-brand .h1 a:hover, .navbar-brand .h1 a.selected, .navbar-brand .h1 a:focus {
        background-color: #c53d13; }

/* line 99, sass/_style.sass */
div.clear-both {
  clear: both; }

/* line 102, sass/_style.sass */
h1, h2, h3, h4, .h1 {
  font-family: "Matchbook", Impact, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0; }

/* line 108, sass/_style.sass */
h1 {
  color: #90120e;
  font-size: 4em; }

/* line 112, sass/_style.sass */
h2 {
  color: #90120e;
  font-size: 2.8em; }

/* line 116, sass/_style.sass */
h3 {
  color: #f07e2d;
  font-size: 2.4em;
  margin-bottom: 0; }

/* line 120, sass/_style.sass */
a, .a {
  color: #90120e;
  font-weight: bold; }
  /* line 123, sass/_style.sass */
  a:focus, a:hover, .a:focus, .a:hover {
    color: #90120e;
    text-decoration: underline; }

/* line 127, sass/_style.sass */
p {
  margin-top: 0;
  font-size: 1em; }
  /* line 130, sass/_style.sass */
  p.desc {
    text-align: center; }

/* line 133, sass/_style.sass */
footer {
  width: 100%;
  background-color: #90120e;
  padding: 24px 0px;
  margin-top: 0px; }
  /* line 138, sass/_style.sass */
  footer h3 {
    display: block;
    margin-top: 0px;
    margin-bottom: 12px; }
  /* line 142, sass/_style.sass */
  footer div#footer-wrapper {
    margin: 0 auto; }
    /* line 144, sass/_style.sass */
    footer div#footer-wrapper div#sponsors {
      float: right;
      width: 70%; }
    /* line 147, sass/_style.sass */
    footer div#footer-wrapper div#social-media-share {
      float: left;
      width: 30%; }
      /* line 150, sass/_style.sass */
      footer div#footer-wrapper div#social-media-share ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        /* line 153, sass/_style.sass */
        footer div#footer-wrapper div#social-media-share ul a.share-button {
          margin-bottom: 6px;
          display: inline-block;
          background-color: #3B5998;
          padding: 6px;
          color: white;
          font-size: medium;
          text-shadow: none;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          -khtml-border-radius: 3px;
          border-radius: 3px; }
          /* line 162, sass/_style.sass */
          footer div#footer-wrapper div#social-media-share ul a.share-button img {
            width: 18px;
            margin-right: 3px;
            display: inline-block; }
          /* line 166, sass/_style.sass */
          footer div#footer-wrapper div#social-media-share ul a.share-button span {
            line-height: 18px; }
  /* line 168, sass/_style.sass */
  footer ul#sponsor_list {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table; }
    /* line 172, sass/_style.sass */
    footer ul#sponsor_list li {
      display: inline-block;
      vertical-align: middle;
      max-width: 100px;
      clear: both;
      margin-right: 24px; }
      /* line 178, sass/_style.sass */
      footer ul#sponsor_list li img {
        margin: 0 auto;
        margin-bottom: 12px;
        max-width: 100px;
        display: block; }
      /* line 183, sass/_style.sass */
      footer ul#sponsor_list li span {
        display: block;
        font-size: 0.8em; }
  /* line 187, sass/_style.sass */
  footer h1, footer h2, footer h3, footer p, footer a {
    color: #ec6338;
    text-shadow: #412218 1px 2px 0; }
  /* line 190, sass/_style.sass */
  footer a {
    font-weight: bold; }
  /* line 193, sass/_style.sass */
  footer p {
    font-size: 0.5em;
    font-style: italic;
    text-align: center; }

/* line 198, sass/_style.sass */
.btn {
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #f9c36f; }

/* line 201, sass/_style.sass */
.btn-primary-dark {
  background-color: #c53d13;
  border: 1px solid #b73911;
  color: #f9c36f; }
  /* line 109, sass/_constants.sass */
  .btn-primary-dark:hover, .btn-primary-dark:focus {
    background-color: #90120e;
    border: 1px solid #82100d;
    color: #f9c36f; }

/* line 203, sass/_style.sass */
.btn-primary {
  background-color: #ec6338;
  border: 1px solid #eb582a;
  color: #f9c36f; }
  /* line 109, sass/_constants.sass */
  .btn-primary:hover, .btn-primary:focus {
    background-color: #c53d13;
    border: 1px solid #b73911;
    color: #f9c36f; }

/* line 208, sass/_style.sass */
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: #ec6338; }

/* line 212, sass/_style.sass */
.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #f8b582 !important; }

/* line 215, sass/_style.sass */
.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #f8b582 !important; }

/* line 218, sass/_style.sass */
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #c53d13 !important; }

/* line 221, sass/_style.sass */
.heading-img {
  -moz-border-radius: 120px;
  -webkit-border-radius: 120px;
  -khtml-border-radius: 120px;
  border-radius: 120px;
  box-shadow: 2px 3px #412218;
  display: block;
  margin-top: 36px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  background-color: #90120e;
  width: 240px;
  height: 240px;
  padding: 12px; }
  /* line 234, sass/_style.sass */
  .heading-img img {
    width: 216px; }

/* line 237, sass/_style.sass */
.subtitle {
  font-family: "Champagne Bold", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  margiin-top: -24px;
  font-size: 1.3em;
  font-weight: bold;
  color: #f07e2d;
  text-shadow: #b15c41 1px 1px 0; }

/* line 246, sass/_style.sass */
div.mouseover-text {
  background-color: white;
  position: absolute;
  z-index: 99;
  font-size: 0.8em;
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px; }

/* line 254, sass/_style.sass */
div.cafe-types {
  margin: 6px 0; }
  /* line 256, sass/_style.sass */
  div.cafe-types img {
    margin-right: 3px; }

@media only screen and (max-width: 650px) {
  /* line 272, sass/_style.sass */
  body {
    font-size: 1em; } }
@media only screen and (max-width: 768px) {
  /* line 276, sass/_style.sass */
  h1, .h1 {
    font-size: 2.6em; }

  /* line 278, sass/_style.sass */
  h2, h3, h4 {
    font-size: 2em; }

  /* line 282, sass/_style.sass */
  .content h1, .content h2, .content h3, .content h4 {
    text-align: center; }

  /* line 285, sass/_style.sass */
  .heading-img {
    width: 50%;
    height: 50%; }
    /* line 288, sass/_style.sass */
    .heading-img img {
      width: 100%; }

  /* line 292, sass/_style.sass */
  footer div#footer-wrapper div#social-media-share, footer div#footer-wrapper div#sponsors {
    float: none;
    width: 100%;
    display: block; }
  /* line 296, sass/_style.sass */
  footer div#footer-wrapper #social-media-share {
    margin-bottom: 12px; }
  /* line 298, sass/_style.sass */
  footer #share-button {
    width: 150px; }
  /* line 300, sass/_style.sass */
  footer ul#sponsor_list {
    display: block; }
    /* line 302, sass/_style.sass */
    footer ul#sponsor_list li {
      display: inline-block; }
      /* line 304, sass/_style.sass */
      footer ul#sponsor_list li span {
        display: none; }
      /* line 306, sass/_style.sass */
      footer ul#sponsor_list li img {
        width: 80px; } }
/* line 308, sass/_style.sass */
.addthis_native_toolbox {
  width: 200px;
  display: block;
  overflow: hidden; }
  /* line 312, sass/_style.sass */
  .addthis_native_toolbox a {
    height: 30px;
    margin-right: 12px;
    display: table-cell; }
    /* line 315, sass/_style.sass */
    .addthis_native_toolbox a.addthis_button_facebook_like {
      margin-top: -3px; }
    /* line 321, sass/_style.sass */
    .addthis_native_toolbox a div span {
      vertical-align: top !important; }

/* line 4, sass/_about.sass */
span.name {
  font-weight: bold; }

/* line 7, sass/_about.sass */
h2, h3 {
  clear: both; }

/* line 10, sass/_about.sass */
.team {
  display: table;
  border-spacing: 12px; }
  /* line 13, sass/_about.sass */
  .team li {
    display: table-row;
    vertical-align: top; }
  /* line 16, sass/_about.sass */
  .team .team-image, .team .team-text {
    display: table-cell;
    text-align: left;
    vertical-align: top; }
    /* line 20, sass/_about.sass */
    .team .team-image img, .team .team-text img {
      -o-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
    /* line 22, sass/_about.sass */
    .team .team-image a, .team .team-text a {
      display: block; }
    /* line 24, sass/_about.sass */
    .team .team-image:hover img, .team .team-text:hover img {
      opacity: 0.7; }
  /* line 26, sass/_about.sass */
  .team img {
    width: 150px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    -khtml-border-radius: 75px;
    border-radius: 75px;
    margin-right: 24px; }
  /* line 31, sass/_about.sass */
  .team p {
    margin: 0;
    padding: 0;
    margin-bottom: 12px; }

@media (max-width: 768px) {
  /* line 37, sass/_about.sass */
  .team .team-image, .team .team-text {
    width: 100%;
    display: block; }
  /* line 40, sass/_about.sass */
  .team .team-text .name {
    width: 100%;
    display: block;
    text-align: center; }
  /* line 44, sass/_about.sass */
  .team .team-image {
    text-align: center;
    margin-bottom: 12px; }
    /* line 47, sass/_about.sass */
    .team .team-image img {
      margin: 0; } }
/* line 5, sass/_index.sass */
div#links-to-parts-of-site {
  margin: 0 auto;
  text-align: center;
  padding: 24px;
  padding-top: 0; }
  /* line 94, sass/_constants.sass */
  div#links-to-parts-of-site a {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    text-shadow: #c53d13 1px 2px 0;
    background-color: #ec6338;
    color: #f9c36f;
    text-decoration: none;
    font-weight: bold;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    /* line 102, sass/_constants.sass */
    div#links-to-parts-of-site a:hover, div#links-to-parts-of-site a.selected, div#links-to-parts-of-site a:focus {
      background-color: #c53d13; }
  /* line 12, sass/_index.sass */
  div#links-to-parts-of-site a {
    padding: 24px;
    margin: 12px;
    display: inline-block; }
    /* line 16, sass/_index.sass */
    div#links-to-parts-of-site a span {
      display: block;
      font-size: 1.2em; }
      /* line 19, sass/_index.sass */
      div#links-to-parts-of-site a span.small-btn-title {
        font-size: 0.8em; }
    /* line 21, sass/_index.sass */
    div#links-to-parts-of-site a img {
      width: 150px;
      margin: 12px; }

@media only screen and (max-width: 650px) {
  /* line 26, sass/_index.sass */
  div#links-to-parts-of-site {
    padding: 3px; }
    /* line 29, sass/_index.sass */
    div#links-to-parts-of-site a span {
      font-size: 1em; }
    /* line 31, sass/_index.sass */
    div#links-to-parts-of-site a img {
      width: 80px; } }
/* line 2, sass/_map.sass */
.map {
  position: relative;
  min-height: 550px;
  height: 100%; }

/* line 6, sass/_map.sass */
.content > .map-wrapper {
  padding-bottom: 0px;
  overflow: hidden; }

/* line 10, sass/_map.sass */
#map-canvas, .angular-google-map-container {
  width: 100%;
  height: 550px;
  background-color: #412218;
  color: #412218;
  font-family: "Champagne", Helvetica, Arial, sans-serif; }
  /* line 16, sass/_map.sass */
  #map-canvas .gm-style-iw, .angular-google-map-container .gm-style-iw {
    height: auto !important; }
    /* line 18, sass/_map.sass */
    #map-canvas .gm-style-iw div, .angular-google-map-container .gm-style-iw div {
      height: auto !important; }
  /* line 20, sass/_map.sass */
  #map-canvas h3, .angular-google-map-container h3 {
    text-shadow: none;
    font-size: 1.4em;
    font-family: "Champagne", Helvetica, Arial, sans-serif;
    color: #90120e;
    padding: 0;
    margin: 0;
    margin-bottom: 6px;
    display: block;
    text-transform: none;
    text-align: left; }
  /* line 31, sass/_map.sass */
  #map-canvas a, .angular-google-map-container a {
    display: inline-block;
    clear: both;
    margin-right: 6px; }

/* line 36, sass/_map.sass */
.legend {
  position: absolute;
  z-index: 9;
  top: 12px;
  right: 12px; }
  @media only screen and (max-width: 768px) {
    /* line 36, sass/_map.sass */
    .legend {
      right: 12px;
      top: 12px; } }

/* line 45, sass/_map.sass */
.map-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }
  /* line 48, sass/_map.sass */
  .map-wrapper .map {
    -webkit-flex: 1;
    flex: 1; }

/* line 51, sass/_map.sass */
.map > div {
  padding-left: 0;
  padding-right: 0; }

/* line 55, sass/_map.sass */
.map .cafes {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding: 12px;
  padding-left: 12px;
  padding-right: 24px;
  height: 100%; }
  /* line 64, sass/_map.sass */
  .map .cafes .cafe-list-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    flex: 1; }
  /* line 69, sass/_map.sass */
  .map .cafes .cafe-numbers a.location {
    text-decoration: underline; }
  /* line 71, sass/_map.sass */
  .map .cafes .cafe-numbers .fa-search {
    padding-right: 0; }
  /* line 73, sass/_map.sass */
  .map .cafes .cafe-numbers > .location-display {
    display: table;
    width: 100%; }
    /* line 76, sass/_map.sass */
    .map .cafes .cafe-numbers > .location-display > div {
      display: table-cell; }
      /* line 78, sass/_map.sass */
      .map .cafes .cafe-numbers > .location-display > div:first-child {
        width: 100%; }
  /* line 81, sass/_map.sass */
  .map .cafes .cafe-numbers > .location-input {
    display: table;
    width: 100%; }
    /* line 84, sass/_map.sass */
    .map .cafes .cafe-numbers > .location-input input {
      width: 100%;
      display: table-cell;
      font-size: 14px;
      border: 1px solid #f9c36f;
      padding: 6px;
      margin-top: 12px; }
    /* line 91, sass/_map.sass */
    .map .cafes .cafe-numbers > .location-input a {
      display: table-cell;
      color: #90120e;
      text-align: right; }
  /* line 95, sass/_map.sass */
  .map .cafes .cafe-list {
    -webkit-flex: 1;
    flex: 1;
    margin-top: 12px;
    overflow-y: scroll;
    min-height: 100px; }
    /* line 100, sass/_map.sass */
    .map .cafes .cafe-list::-webkit-scrollbar {
      display: none; }
    /* line 102, sass/_map.sass */
    .map .cafes .cafe-list ul {
      margin-top: 0;
      width: 100%; }
      /* line 106, sass/_map.sass */
      .map .cafes .cafe-list ul li > div {
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        display: block;
        padding: 12px 6px;
        text-decoration: none;
        clear: both; }
        /* line 112, sass/_map.sass */
        .map .cafes .cafe-list ul li > div:after, .map .cafes .cafe-list ul li > div:before {
          clear: both;
          content: " ";
          display: block; }
        /* line 116, sass/_map.sass */
        .map .cafes .cafe-list ul li > div:hover, .map .cafes .cafe-list ul li > div.hover {
          background-color: rgba(248, 181, 130, 0.3); }
      /* line 118, sass/_map.sass */
      .map .cafes .cafe-list ul li .cafe-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        float: left; }
      /* line 123, sass/_map.sass */
      .map .cafes .cafe-list ul li .cafe-link {
        width: 10%;
        float: right;
        text-align: right; }

/* line 132, sass/_map.sass */
.cafe .cafe-container {
  display: table-row; }
  /* line 134, sass/_map.sass */
  .cafe .cafe-container > div {
    display: table-cell;
    vertical-align: middle; }
    /* line 137, sass/_map.sass */
    .cafe .cafe-container > div:first-child {
      padding-right: 12px;
      padding-left: 6px; }
      /* line 140, sass/_map.sass */
      .cafe .cafe-container > div:first-child img, .cafe .cafe-container > div:first-child .img {
        width: 100px;
        height: 100px;
        color: #f8b582;
        background-color: rgba(248, 181, 130, 0.5);
        background-size: cover;
        background-position: center;
        text-align: center; }
        /* line 150, sass/_map.sass */
        .cafe .cafe-container > div:first-child img i, .cafe .cafe-container > div:first-child .img i {
          font-size: 50px;
          line-height: 50px;
          margin: 25px; }
    /* line 155, sass/_map.sass */
    .cafe .cafe-container > div:nth-child(2) {
      vertical-align: top;
      width: 100%; }

/* line 160, sass/_map.sass */
.user-marker-window h3, .user-marker-window p {
  text-align: center; }

/* line 163, sass/_map.sass */
.ad {
  color: #ec6338;
  margin: 12px;
  margin-left: 0; }
  /* line 164, sass/_map.sass */
  .ad > div {
    width: 250px;
    height: 200px;
    padding: 12px;
    margin-bottom: 12px;
    background-color: rgba(248, 181, 130, 0.5); }

/* line 2, sass/_cafe.sass */
.cafe section {
  padding-top: 48px; }
  @media (max-width: 768px) {
    /* line 2, sass/_cafe.sass */
    .cafe section {
      padding-top: 24px; } }
/* line 7, sass/_cafe.sass */
.cafe h1 {
  margin-top: 0; }
  /* line 9, sass/_cafe.sass */
  .cafe h1 a {
    color: #90120e; }
    /* line 11, sass/_cafe.sass */
    .cafe h1 a:hover, .cafe h1 a:focus {
      text-decoration: none; }
/* line 14, sass/_cafe.sass */
.cafe .fa-external-link, .cafe .fa-spinner {
  font-size: 1.2em;
  color: #90120e;
  margin-left: 12px; }
/* line 19, sass/_cafe.sass */
.cafe .cafe-map {
  max-width: 100%;
  float: right; }
  @media (max-width: 768px) {
    /* line 19, sass/_cafe.sass */
    .cafe .cafe-map {
      float: none; } }
/* line 25, sass/_cafe.sass */
.cafe .cafe-details li {
  margin-bottom: 12px; }
  /* line 27, sass/_cafe.sass */
  .cafe .cafe-details li > div {
    display: inline-block; }
    /* line 29, sass/_cafe.sass */
    .cafe .cafe-details li > div:first-child {
      text-align: center;
      width: 24px;
      height: 24px;
      vertical-align: top;
      margin-right: 9px; }
    /* line 35, sass/_cafe.sass */
    .cafe .cafe-details li > div:nth-child(2) {
      max-width: 300px; }
