@font-face {
  font-family: "Matchbook";
  src: url("./fonts/Matchbook.eot");
  src: url("./fonts/Matchbook.eot?#iefix") format("embedded-opentype"), url("./fonts/Matchbook.ttf");
  font-weight: normal; }
@font-face {
  font-family: "Champagne";
  src: url("./fonts/Champagne_&_Limousines.eot");
  src: url("./fonts/Champagne_&_Limousines.eot?#iefix") format("embedded-opentype"), url("./fonts/Champagne_&_Limousines.ttf");
  font-weight: normal; }
@font-face {
  font-family: "Champagne Bold";
  src: url("./fonts/Champagne_&_Limousines_Bold.eot");
  src: url("./fonts/Champagne_&_Limousines_Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Champagne_&_Limousines_Bold.ttf");
  font-weight: bold;
  font-style: normal; }
.content {
  padding-bottom: 0px; }

.map {
  position: relative; }

#map-canvas, .angular-google-map-container {
  border-bottom: 1px solid #c53d13;
  width: 100%;
  min-height: 550px;
  height: 100%;
  background-color: #412218;
  color: #412218;
  font-family: "Champagne", Helvetica, Arial, sans-serif; }
  #map-canvas .gm-style-iw, .angular-google-map-container .gm-style-iw {
    height: auto !important;
    min-width: 200px; }
    #map-canvas .gm-style-iw div, .angular-google-map-container .gm-style-iw div {
      max-height: 500px;
      height: auto !important; }
  #map-canvas h3, .angular-google-map-container h3 {
    text-shadow: none;
    font-size: 1.4em;
    font-family: "Champagne", Helvetica, Arial, sans-serif;
    color: #90120e;
    padding: 0;
    margin: 0;
    display: block; }
  #map-canvas a, .angular-google-map-container a {
    display: inline-block;
    clear: both;
    margin-right: 6px; }

.legend {
  position: absolute;
  z-index: 9;
  top: 24px;
  right: 24px;
  background-color: rgba(144, 17, 13, 0.9);
  padding: 12px;
  max-width: 300px; }
  .legend .legend-list {
    padding: 0px;
    margin: 0px;
    color: #f8b582; }
    .legend .legend-list .legend-item {
      width: auto; }
    .legend .legend-list .legend-text {
      font-size: 14px;
      text-transform: uppercase; }
    .legend .legend-list .legend-img {
      max-height: 30px; }

@media only screen and (max-width: 768px) {
  .legend {
    right: 12px;
    bottom: 12px;
    top: auto; } }
div#zones {
  width: 100%;
  background-color: #c53d13; }
  div#zones ul#zones-list {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    max-width: 1000px;
    list-style: none; }
    div#zones ul#zones-list li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      display: inline-block; }
      div#zones ul#zones-list li a {
        padding: 6px 12px;
        display: block;
        background-color: transparent;
        text-decoration: none;
        color: #f9c36f;
        text-shadow: none;
        font-size: 0.8em; }
        div#zones ul#zones-list li a:hover {
          color: #f8b582;
          background-color: #c53d13; }
        div#zones ul#zones-list li a.selected {
          background-color: #f9c36f;
          color: #c53d13; }

@media only screen and (max-width: 768px) {
  #map-canvas, .angular-google-map-container {
    min-height: 450px; } }

/*# sourceMappingURL=map.css.map */
