@font-face {
  font-family: "Matchbook";
  src: url("./fonts/Matchbook.eot");
  src: url("./fonts/Matchbook.eot?#iefix") format("embedded-opentype"), url("./fonts/Matchbook.ttf");
  font-weight: normal; }
@font-face {
  font-family: "Champagne";
  src: url("./fonts/Champagne_&_Limousines.eot");
  src: url("./fonts/Champagne_&_Limousines.eot?#iefix") format("embedded-opentype"), url("./fonts/Champagne_&_Limousines.ttf");
  font-weight: normal; }
@font-face {
  font-family: "Champagne Bold";
  src: url("./fonts/Champagne_&_Limousines_Bold.eot");
  src: url("./fonts/Champagne_&_Limousines_Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Champagne_&_Limousines_Bold.ttf");
  font-weight: bold;
  font-style: normal; }
body {
  background-color: #ffe9c6;
  color: #90120e;
  font-family: "Champagne", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  position: relative; }

header {
  width: 100%; }

header, .navbar-header {
  background-color: #ec6338; }

nav ul li {
  margin-left: 12px; }
  nav ul li a {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    text-shadow: #c53d13 1px 2px 0;
    background-color: #ec6338;
    color: #f9c36f;
    text-decoration: none;
    font-weight: bold;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    nav ul li a:hover, nav ul li a.selected, nav ul li a:focus {
      background-color: #c53d13; }
  nav ul li a:hover, nav ul li a:focus {
    color: #f9c36f;
    text-decoration: none;
    background-color: #c53d13 !important; }
nav ul li.soc-media-links a {
  padding: 0;
  margin-right: 6px; }
nav ul li.soc-media-links a:hover, nav ul li.soc-media-links a:focus {
  background-color: #ec6338;
  color: #f07e2d; }

.navbar-toggle {
  margin: 33px; }
  .navbar-toggle .icon-bar {
    background-color: #f9c36f;
    height: 3px;
    border-radius: 3px;
    width: 30px; }

.nav {
  margin: 25px 0; }

.navbar-brand {
  height: 100px;
  padding: 12px 0;
  color: #f9c36f; }
  .navbar-brand:hover {
    color: #f9c36f; }
  .navbar-brand .logo {
    width: 76px;
    display: inline-block;
    vertical-align: top; }
  .navbar-brand .h1 {
    text-shadow: #c53d13 1px 2px 0;
    margin: 0;
    padding: 0;
    margin: 12px;
    font-size: 3em;
    text-align: left;
    display: inline-block; }
    .navbar-brand .h1 a {
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      -khtml-border-radius: 6px;
      border-radius: 6px;
      text-shadow: #c53d13 1px 2px 0;
      background-color: #ec6338;
      color: #f9c36f;
      text-decoration: none;
      font-weight: bold;
      -o-transition: 0.5s;
      -ms-transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
      .navbar-brand .h1 a:hover, .navbar-brand .h1 a.selected, .navbar-brand .h1 a:focus {
        background-color: #c53d13; }

div.clear-both {
  clear: both; }

h1, h2, h3, h4, .h1 {
  font-family: "Matchbook", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0; }

h1 {
  color: #90120e;
  font-size: 4em; }

h2 {
  color: #90120e;
  font-size: 2.8em; }

h3 {
  color: #f07e2d;
  font-size: 2.4em;
  margin-bottom: 0; }

a {
  color: #c53d13;
  font-weight: bold; }
  a:hover, a:focus {
    color: #c53d13; }

p {
  margin-top: 0;
  font-size: 1em; }
  p.desc {
    text-align: center; }

footer {
  width: 100%;
  background-color: #90120e;
  padding: 12px;
  margin-top: 48px; }
  footer h3 {
    display: block; }
  footer div#footer-wrapper {
    max-width: 1000px;
    margin: 0 auto; }
    footer div#footer-wrapper div#sponsors {
      float: right;
      width: 80%; }
    footer div#footer-wrapper div#social-media-share {
      float: left;
      width: 20%; }
      footer div#footer-wrapper div#social-media-share ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        footer div#footer-wrapper div#social-media-share ul a.share-button {
          margin-bottom: 6px;
          display: inline-block;
          background-color: #3B5998;
          padding: 6px;
          color: white;
          font-size: medium;
          text-shadow: none;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          -khtml-border-radius: 3px;
          border-radius: 3px; }
          footer div#footer-wrapper div#social-media-share ul a.share-button img {
            width: 18px;
            margin-right: 3px;
            display: inline-block; }
          footer div#footer-wrapper div#social-media-share ul a.share-button span {
            line-height: 18px; }
  footer ul#sponsor_list {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table; }
    footer ul#sponsor_list li {
      display: inline-block;
      vertical-align: middle;
      max-width: 100px;
      clear: both;
      margin-right: 12px; }
      footer ul#sponsor_list li img {
        margin: 0 auto;
        margin-bottom: 12px;
        max-width: 100px;
        display: block; }
      footer ul#sponsor_list li span {
        display: block;
        font-size: 0.8em; }
  footer h1, footer h2, footer h3, footer p, footer a {
    color: #ec6338;
    text-shadow: #412218 1px 2px 0; }
  footer a {
    text-decoration: none;
    font-weight: bold; }
  footer p {
    font-size: 0.5em;
    font-style: italic;
    text-align: center; }

@media screen and (max-width: 500px) {
  nav ul {
    float: none;
    display: block; } }
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: #ec6338; }

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #f8b582 !important; }

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #f8b582 !important; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #c53d13 !important; }

div.heading-img {
  -moz-border-radius: 120px;
  -webkit-border-radius: 120px;
  -khtml-border-radius: 120px;
  border-radius: 120px;
  box-shadow: 2px 3px #412218;
  display: block;
  margin-top: 36px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  background-color: #90120e;
  width: 240px;
  height: 240px;
  padding: 12px; }
  div.heading-img img {
    width: 216px; }

.subtitle {
  font-family: "Champagne Bold", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  margiin-top: -24px;
  font-size: 1.3em;
  font-weight: bold;
  color: #f07e2d;
  text-shadow: #b15c41 1px 1px 0; }

div.mouseover-text {
  background-color: white;
  position: absolute;
  z-index: 99;
  font-size: 0.8em;
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px; }

div.cafe-types {
  margin: 6px 0; }
  div.cafe-types img {
    margin-right: 3px; }

@media only screen and (max-width: 650px) {
  body {
    font-size: 1em; } }
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2.2em; }

  h2, h3, h4 {
    font-size: 2em; }

  footer {
    padding: 6px; }
    footer div#footer-wrapper div#social-media-share, footer div#footer-wrapper div#sponsors {
      float: none;
      width: 100%;
      display: block; }
      footer div#footer-wrapper div#social-media-share ul#share-button, footer div#footer-wrapper div#sponsors ul#share-button {
        width: 100%;
        display: table; }
        footer div#footer-wrapper div#social-media-share ul#share-button li, footer div#footer-wrapper div#sponsors ul#share-button li {
          display: table-cell;
          vertical-align: top; }
    footer ul#sponsor_list {
      display: block; }
      footer ul#sponsor_list li {
        display: inline-block; }
        footer ul#sponsor_list li span {
          display: none; }
        footer ul#sponsor_list li img {
          width: 80px; } }
