<h1 class="hidden">Cafehop Map</h1>
<div ng-controller="MapController" resize ng-style="style()">
    <div class="mode-toggle hidden-sm hidden-md hidden-lg">
        <ul class="list-unstyled list-inline">
            <li>
                <a class="map-view-btn active" href="" ng-click="activateMapView()">Map</a>
            </li>
            <li>
                <a class="list-view-btn" href="" ng-click="activateListView()">List</a>
            </li>
        </ul>
    </div>

    <div class="map-wrapper">
        <!-- Map and list -->
        <div class="map">
            <!-- Map -->
            <div class="col-xs-12 col-sm-6 col-md-7 map-view">
                <div class="map-controls">
                    <a class="btn btn-primary" href="" ng-click="getUserLocation()"> <i class="fa fa-location-arrow"></i>
                    </a>
                </div>

                <ui-gmap-google-map 
                    center="map.center" 
                    zoom="map.zoom" 
                    events="map.events" 
                    options="map.options"
                    id="map-canvas">
                    Loading map...
                    <ui-gmap-markers 
                        models="markers"
                        idkey="'idKey'" 
                        coords="'coords'"
                        icon="'icon'"
                        options="'options'"
                        events="markerEvents"
                        control="markersControl"></ui-gmap-markers>

                    <ui-gmap-window 
                        show="map.showWindow"
                        isIconVisibleOnClick="false"
                        options="infoWindow.options"
                        coords="infoWindow.model.coords">
                        <div>
                            <span ng-bind="map.showWindow"></span>
                            <div ng-show="{{infoWindow.model.cafe}}">
                                <h3>
                                    <a ng-href="{{getCafeUrl(infoWindow.model.cafe)}}">{{infoWindow.model.cafe.name}}</a>
                                </h3>
                                <div>{{infoWindow.model.cafe.address1}}</div>
                            </div>
                            <div ng-class="user-marker-window" ng-show="{{!infoWindow.model.cafe}}">
                                <h3>You are here</h3>
                                <p>Drag to search for cafes.</p>
                            </div>
                        </div>
                    </ui-gmap-window>
                </ui-gmap-google-map>
            </div>

            <!-- List -->
            <div class="col-xs-12 col-sm-6 col-md-5 cafes list-view hide-view">
                <div class="cafe-list-container">
                    <!-- Location display and input -->
                    <location-search class="cafe-numbers"></location-search>
                    
                    <!-- Cafes -->
                    <div class="cafe-list">
                        <div ng-show="cafes.length < 1 && !loadingCafes || cannotFindUser">
                            Sorry, we couldn't find any cafes or your location. Try another location perhaps?
                        </div>
                        <ul class="list-unstyled">
                            <li ng-mouseover="triggerMarkerMouseover(cafe.idKey)" ng-mouseleave="triggerMarkerMouseout(cafe.idKey)"  ng-class="{cafe: true, closed: cafe.venue.hours && !cafe.venue.hours.isOpen}" ng-repeat="cafe in cafes" id="{{cafe.idKey}}">
                                <div ng-class="{'cafe-container': true, hover: cafe.idKey == markerCallbacks.currMouseoverId}">
                                    <div class="hidden-xs">
                                        <a target="_blank" ng-href="{{getCafeUrl(cafe)}}">
                                            <img ng-show="getPhotoUrl(cafe)" ng-style="getPhotoStyle(cafe)">
                                            <div ng-show="!getPhotoUrl(cafe)" class="img">
                                                <i class="fa fa-camera"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a target="_blank" ng-href="{{getCafeUrl(cafe)}}">
                                            <div class="a cafe-name">{{cafe.name}}</div>
                                        </a>
                                        <br/>
                                        <small> <strong>{{cafe.distance / 1000 | number:1}} km away</strong>
                                        </small>
                                        <br/>
                                        <small>{{cafe.address1}}</small>
                                        <br/>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ad -->
        <div class="ad hidden-xs hidden-sm">
            <div>Advertise with us?</div>
            <div>Advertise with us?</div>
            <div>Advertise with us?</div>
        </div>
    </div>
</div>