<div ng-controller="MapController" class="map">

    <div class="col-xs-7 col-sm-8">
        <div class="legend">
            <ul class="legend-list list-unstyled list-inline">
                <li ng-repeat="item in legend" class="legend-item">
                    <img class="legend-img" ng-src="{{item.img}}"/>
                    <span class="legend-text">{{item.text}}</span>
                </li>
            </ul>
        </div>

        <ui-gmap-google-map 
        center="map.center" 
        zoom="map.zoom" 
        events="map.events" 
        options="map.options"
        id="map-canvas">
            Loading map...
            <ui-gmap-markers 
            models="markers"
            idkey="'idKey'" 
            coords="'coords'"
            icon="'icon'"
            options="'options'"
            events="markerEvents"
            click="onMarkerClick"
            control="markersControl"></ui-gmap-markers>

            <ui-gmap-window 
            show="map.showWindow"
            isIconVisibleOnClick="false"
            options="infoWindow.options"
            coords="infoWindow.model.coords">
                <div>
                    <span ng-bind="map.showWindow"></span>
                    <div ng-show="{{infoWindow.model.cafe}}">
                        <h3>
                            <a ng-href="#cafe/{{infoWindow.model.cafe.id}}">{{infoWindow.model.cafe.name}}</a>
                        </h3>
                        <span>{{infoWindow.model.cafe.location.address}}</span>
                    </div>
                    <div ng-show="{{!infoWindow.model.cafe}}">
                        <h3>You are here!</h3>
                        <p>Drag to search for cafes.</p>
                    </div>
                </div>
            </ui-gmap-window>
        </ui-gmap-google-map>
    </div>

    <div class="col-xs-5 col-sm-4 cafes">
        <div class="cafe-numbers">
            <span ng-bind="cafes.length"></span>
            Cafes
            &nbsp; <i ng-show="loadingCafes" class="fa fa-spinner fa-spin"></i>
        </div>
        <div class="cafe-list">
            <ul class="list-unstyled">
                <li ng-mouseover="mouseoverMarker(cafe.idKey)" ng-mouseleave="mouseoutMarker(cafe.idKey)"  ng-class="{cafe: true, closed: cafe.venue.hours && !cafe.venue.hours.isOpen}" ng-repeat="cafe in cafes">
                    <div ng-class="{hover: cafe.idKey == currMarkerHover}">
                        <span class="a cafe-name">{{cafe.venue.name}}</span>
                        <a ng-class="{'cafe-link': true}" ng-href="#cafe/{{cafe.venue.id}}"> <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>