<link rel="stylesheet" href="assets/css/map.css">

<div id="legend">
            <ul id="map-legend">
                <li><img src="img/map-icons/chkl-pin-03.png"/>Partner Cafes</li>
                <li><img src="img/map-icons/chkl-pin-02.png"/>Cafes</li>
            </ul>
        </div>
        <div id="zones">
            <ul id="zones-list">
                <li><a id="all" class="selected" href="#">All</a></li>
                <li><a id="near-me" href="#">Around Me</a></li>
                <li><a id="ldp" href="#">LDP Hop</a></li>
                <li><a id="duta" href="#">Duta Hop</a></li>
                <li><a id="kl" href="#">KL Hop</a></li>
                <li><a id="melawati" href="#">Tmn Melawati Hop</a></li>
                <li><a id="kemuning" href="#">Kota Kemuning Hop</a></li>
            </ul>
        </div>

        <div id="map-canvas">Loading map...</div>
        <div id="wrapper">
            <!-- The Map -->
            <div id="maincontent">

                <!-- The List -->
                <div id="locations-list-wrapper">
                    <div id="search-bar-wrapper">
                        <input type="text" id="search-bar" placeholder="Search by name or address"/>
                    </div>
                    <div id="locations-list">
                        <ul name="list" id="locations"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear-both"></div>
         <script type="text/javascript" 
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9EG2XGeh9UYfYK7jqX_SQ0W03QYHYD_4&sensor=false"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9EG2XGeh9UYfYK7jqX_SQ0W03QYHYD_4&sensor=false"></script>
        <script src="js/vendor/geoXML3.js"></script>
        <script src="js/vendor/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="js/vendor/jquery.mousewheel.min.js"></script>
        <script src="js/constants.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/map.js"></script>
        <script src="js/list-search.js"></script>