<link rel="stylesheet" href="assets/css/about.css">

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="heading-img">
                    <img id="about-logo" src="assets/images/cafehopkl_logo_dark.png"/>
                </div>
            </div>

            <div class="col-md-8">
                <h1>About Us</h1>
                <div>
                    Back in September 2013, we produced over 5000 physical maps with 28 cafes and 4 sponsors and without them, we would not be here today. (See here) (Link to the archived physical map section here).
                </div>

                <div>
                    Our objective is to connect cafe/coffee lovers, cafes and coffee together around Malaysia. We do this with our digital map, an annual project, a soon-to-come app and everything else in between.
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h3>The Team</h3>
        <div>
            <ul ng-repeat="person in team" class="team list-unstyled">
                <li>
                    <div class="team-image">
                        <img src="{{person.img_url}}"/>
                    </div>
                    <div class="team-text">
                        <span class="name">{{person.name}}</span>
                        <p>{{person.desc}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>