<link rel="stylesheet" href="assets/css/about.css">

<section>
    <div class="row">
        <div class="col-md-6">
            <div class="heading-img">
                <img id="about-logo" src="assets/images/cafehopkl_logo_dark.png"/>
            </div>
        </div>

        
        <div class="col-md-6">
            <h1>About CafeHop KL</h1>
            <p>Back in September 2013, we produced over 5000 physical maps with 28 cafes and 4 sponsors and without them, we would not be here today. (See here) (Link to the archived physical map section here).</p>

            <p>Our objective is to connect cafe/coffee lovers, cafes and coffee together around Malaysia. We do this with our digital map, an annual project, a soon-to-come app and everything else in between.</p>
        </div>
    </div>
</section>

<section>
    <h3>The CafeHop KL Team</h3>
    <p>
        <ul id="team">
            <li>
                <p>
                    <img src="assets/images/profile-pics/joachim.png"/>
                    <span class="name">Joachim Leong</span>
                    Joachim was a lawyer in a different life but was born again in a shower of coffee (non-scalding, of course). Now, a coffee lover, after visiting over 70 cafes around Malaysia, he thought why not a map of cafes in Malaysia? If Joachim was a coffee drink, he would be Cham (mixed) tea and coffee with milk because sometimes he doesn't know what he is - Am I a tea that is mixed with coffee or a coffee mixed with tea? Or maybe a milk posing as a coffee mixed with tea. Perplexing.
                </p>
            </li>
            <li>
                <p>
                    <img src="assets/images/profile-pics/jamie.png"/>
                    <span class="name">Jamie Lim</span>
                    Meet fun-sporty Jamie. How she came to be involved with the CafeHop KL project actually began from what was first planned to be simple affair of helping visually put together the idea and concept for a self-made project. Now, she works on the creative for CafeHop KL. By profession she freelances in design and illustration. If she isn't behind the computer, you can find her throwing a frisbee around KL. If Jamie was a coffee, she would be a latte - she ain't latte-ing you down *wink*
                </p>
            </li>
            <li>
                <p>
                    <a href="http://pages.cs.wisc.edu/~sher" target="_blank">
                        <img src="assets/images/profile-pics/sherminn.png"/>
                    </a>
                    <span class="name">
                        <a href="http://pages.cs.wisc.edu/~sher" target="_blank">Sher Minn Chong</a>
                    </span>
                    Sher Minn, our website designer on the other side of the Atlantic but soon to return to Malaysia to conquer one webpage at a time! If Sher Minn was a coffee , she would be a double espresso; a good representation of the amount of caffeine she consumes daily.
                </p>
            </li>
            <li>
                <p>
                    <a href="http://shemeanders.tumblr.com/" target="_blank">
                        <img src="assets/images/profile-pics/shean.png"/>
                    </a>
                    <span class="name">
                        <a href="http://shemeanders.tumblr.com/" target="_blank">Shean Tan</a>
                    </span>
                    Shean is our ﬁlm-loving, ﬁlm-camera trotting photographer taking awesome hipster shots of cafes, latte art and coffee all around KL town. If Shean was a coffee, she would be an ice drip coffee because sheʼs deliberate, patient and well-measured.
                </p>
            </li>
        </ul>
    </p>
</section>